<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.noc.core.dao.mapper.NocAccessRequestEquipMapper" >
    <resultMap id="NocAccessRequestEquipEntity" type="com.hkt.btu.noc.core.dao.entity.NocAccessRequestEquipEntity" >
        <result column="EQUIP_ACCESS_ID" property="equipAccessId" />
        <result column="ACCESS_REQUEST_ID" property="accessRequestId" />
        <result column="HASHED_ID" property="hashedRequestId" />

        <result column="EQUIP_BRAND" property="equipBrand" />
        <result column="EQUIP_TYPE" property="equipType" />
        <result column="EQUIP_MODEL" property="equipModel" />
        <result column="EQUIP_SERIAL" property="equipSerial" />

        <result column="EQUIP_RACK_NUM" property="equipRackNum" />
        <result column="EQUIP_U_NUM" property="equipUNum" />
        <result column="ACTION" property="action" />

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
        <result column="REMARKS" property="remarks" />
    </resultMap>

    <select id="getAccessRequestEquipsByAccessRequestId" resultMap="NocAccessRequestEquipEntity">
        select e.*, h.HASHED_ID
        from NOC_ACCESS_REQUEST_EQUIP e
        left join NOC_ACCESS_REQUEST r
          on r.ACCESS_REQUEST_ID = e.ACCESS_REQUEST_ID
        left join NOC_ACCESS_REQUEST_HASH h
          on h.ACCESS_REQUEST_ID = r.ACCESS_REQUEST_ID
        <where>
            <if test="accessRequestId != null">
                AND e.ACCESS_REQUEST_ID = #{accessRequestId}
            </if>
            <if test="companyId != null">
                AND r.COMPANY_ID = #{companyId}
            </if>
            <if test="userId != null">
                AND r.REQUESTER_ID = #{userId}
            </if>
        </where>
    </select>


    <insert id="insertEquips" parameterType="com.hkt.btu.noc.core.dao.entity.NocAccessRequestEquipEntity"
            useGeneratedKeys="true" keyProperty="equipAccessId">
        insert into NOC_ACCESS_REQUEST_EQUIP
        (
            ACCESS_REQUEST_ID,
            EQUIP_BRAND, EQUIP_TYPE, EQUIP_MODEL, EQUIP_SERIAL,
            EQUIP_RACK_NUM, EQUIP_U_NUM, ACTION,
            CREATEBY, MODIFYBY
        )
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
                #{item.accessRequestId},
                #{item.equipBrand},#{item.equipType},#{item.equipModel},#{item.equipSerial},
                #{item.equipRackNum},#{item.equipUNum},#{item.action},
                #{item.createby},#{item.modifyby}
            )
        </foreach>
    </insert>


</mapper>
