<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.noc.core.dao.mapper.NocAccessRequestHashMapper" >

    <select id="getHashedId" resultType="Integer">
        select HASHED_ID
        FROM NOC_ACCESS_REQUEST_HASH
        WHERE ACCESS_REQUEST_ID = #{accessRequestId}
    </select>

    <select id="getAccessRequestId" resultType="Integer">
        select ACCESS_REQUEST_ID
        FROM NOC_ACCESS_REQUEST_HASH
        WHERE HASHED_ID = #{hashedId}
    </select>

    <select id="getMaxHashedId" resultType="Integer">
        SELECT max(ACCESS_REQUEST_ID)
        FROM NOC_ACCESS_REQUEST_HASH
    </select>

    <insert id="insertHashedId" >
        insert into NOC_ACCESS_REQUEST_HASH (ACCESS_REQUEST_ID, HASHED_ID)
        values (#{accessRequestId}, #{hashedId})
    </insert>

</mapper>
