<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.noc.core.dao.mapper.NocConfigParamMapper" >
    <resultMap id="ConfigParamEntity" type="com.hkt.btu.noc.core.dao.entity.NocConfigParamEntity" >
        <result column="CONFIG_GROUP" property="configGroup" />
        <result column="CONFIG_KEY" property="configKey" />
        <result column="CONFIG_VALUE" property="configValue" />
        <result column="CONFIG_VALUE_TYPE" property="configValueType" />

        <result column="CREATEDATE" property="createdate" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
        <result column="REMARKS" property="remarks" />
    </resultMap>

    <select id="getAllConfigParam" resultMap="ConfigParamEntity" >
        select *
        from CONFIG_PARAM
        order by CONFIG_GROUP, CONFIG_KEY
    </select>

    <select id="getValue" resultMap="ConfigParamEntity" >
        select *
        from CONFIG_PARAM
        where CONFIG_GROUP = #{configGroup}
        and CONFIG_KEY = #{configKey}
        order by CONFIG_GROUP, CONFIG_KEY
    </select>

    <select id="getValuesByConfigGroup" resultMap="ConfigParamEntity" >
        select *
        from CONFIG_PARAM
        where CONFIG_GROUP = #{configGroup}
        order by CONFIG_GROUP, CONFIG_KEY
    </select>

    <update id="updateValue" >
        update CONFIG_PARAM
        set CONFIG_VALUE = #{configValue}, CONFIG_VALUE_TYPE = #{configValueType}, MODIFYBY = #{modifyBy}
        where CONFIG_GROUP = #{configGroup}
        and CONFIG_KEY = #{configKey}
    </update>


    <delete id="deleteConfig" >
        delete from CONFIG_PARAM
        where CONFIG_GROUP = #{configGroup}
        and CONFIG_KEY = #{configKey}
    </delete>

</mapper>
