<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Role</title>
    <style>
        .display-feedBack {
            display: block;
        }
    </style>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1 style="padding-top:3%">Edit User Role</h1>
    <form style="width:100%">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Role ID</label>
                <input type="text"  class="form-control" readonly id="roleId" th:value="${roleId}" name="roleId">
            </div>
            <div class="form-group col-md-6">
                <label >Parent Role ID</label>
                <input type="text"  class="form-control" readonly id="parentRoleId" name="parentRoleId">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Role Desc</label>
                <input type="text"  class="form-control" id="roleDesc" name="roleDesc">
            </div>
            <div class="form-group col-md-6">
                <label >Status</label>
                <select name="status" id="status" class="form-control">
                    <option value="A">Active</option>
                    <option value="D">Disable</option>
                </select>
            </div>
        </div>
        <div class="d-flex form-row flex-row-reverse">
            <button type="button" class="btn btn-lg btn-primary mr-sm-2" id="btnUpdateUserRole"><i class="far fa-save"></i> Save</button>
        </div>
    </form>
    <div style="margin: 5% 0 20px 0" class="d-flex align-items-center">
        <h1>Path Control</h1>
        <button id="addPathCtrlBtn" type="button" class="btn btn-success btn-sm mr-sm-2" style="margin-left: 20px; height: 31px"><i class="fas fa-plus"></i> Add</button>
    </div>
    <table id="pathCtrlTable" class="display">
        <thead>
        <tr>
            <th>Role ID</th>
            <th>Path</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="dialogbox" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-info h-80">
                    <h6 class="modal-title">Create Path Control</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-12 form-inline pt-2">
                                <label class="col-form-label justify-content-start" style="width: 65px">Role ID:</label>
                                <select class="form-control custom-select" style="width: calc(100% - 65px) !important;" name="roleId" data-style="select-bottom" required>
                                    <option value="">Choose role</option>
                                    <option th:each="role : ${abstractRoleList}" th:text="${role.roleId}+' ---- '+${role.roleDesc}" th:value="${role.roleId}"></option>
                                </select>
                                <div class="invalid-feedback">Please select on a role.</div>
                            </div>
                            <div class="col-md-12 form-inline pt-2">
                                <label class="col-form-label justify-content-start" style="width: 65px">Path:</label>
                                <select class="selectpicker" multiple data-selected-text-format="count>3" data-width="calc(100% - 65px)" name="pathCtrlIdList" data-style="select-bottom" required>
                                    <option th:each="pathCtrl : ${activePathCtrlList}" th:text="${pathCtrl.path}" th:value="${pathCtrl.pathCtrlId}"></option>
                                </select>
                                <div class="invalid-feedback">Please select on a path.</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" id="submit" onclick="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/editUserRole.js(v=${projectBuildtime})}"></script>
</div>
</body>
</html>