<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Role</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1 style="padding-top:3%">Edit User Role</h1>
    <form style="width:80%">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Role ID</label>
                <input type="text"  class="form-control" readonly id="roleId" th:value="${roleId}" name="roleId">
            </div>
            <div class="form-group col-md-6">
                <label >Parent Role ID</label>
                <input type="text"  class="form-control" readonly id="parentRoleId" name="parentRoleId">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Role Desc</label>
                <input type="text"  class="form-control" id="roleDesc" name="roleDesc">
            </div>
            <div class="form-group col-md-6">
                <label >Status</label>
                <select name="status" id="status" class="form-control">
                    <option value="A">Active</option>
                    <option value="D">Disable</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Abstract Role</label>
                <select name="abstractFlag" id="abstractFlag" class="form-control">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary float-right mr-sm-2" id="btnUpdateUserRole"><i class="far fa-save"></i> Save</button>
    </form>
    <h1 style="padding-top:5%">Path Control</h1>
    <table id="pathCtrlTable" class="display">
        <thead>
        <tr>
            <th>Role ID</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script type="text/javascript" th:src="@{/js/editUserRole.js}"></script>
</div>
</body>
</html>