<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Public Holiday</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <form th:id="search-public-holiday-form" class="form-inline">
        <input type="number" min="1900" max="9999" class="form-control mb-2 mr-sm-2 col-md-2" placeholder="Year" th:id="public-holiday-search-year">
        <button id="btnSearch" type="button" class="btn btn-lg btn-primary mb-2"><i class="fas fa-search"></i> Search</button>
        <button id="btnCreate" type="button" class="btn btn-lg btn-success mb-2 ml-2"><i class="fas fa-plus-square"></i> Create</button>

        <div class="ml-2">
        <button type="button" class="btn btn-lg btn-info mb-2" id="btnPbImport">
            <i class="far fa-save"></i> Import
        </button>
        </div>

        <div class="ml-2">
        <button type="button" class="btn btn-lg btn-info mb-2" id="btnPbExport">
            <i class="far fa-save"></i> Export
        </button>
        </div>
    </form>

    <h1>Public Holiday List</h1>
    <table id="publicHolidayTable" class="display">
        <thead>
        <tr>
            <th>Public Holiday</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th>Public Holiday</th>
            <th>Description</th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <div class="modal fade reason">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-info h-80">
                    <h6 class="modal-title">Create New Public Holiday</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row mt-3">
                            <label class="col-md-3 justify-content-end" >Public Holiday:</label>
                            <input type="date" class="col-md-8" required name="publicHoliday">
                            <div class="invalid-feedback offset-md-3">
                                Please select on date.
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-md-3 justify-content-end">Description:</label>
                            <textarea class="form-control col-md-8 mt-2" required name="description" rows="3"></textarea>
                            <div class="invalid-feedback offset-md-3">
                                Please enter a message in the textarea.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" id="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade export">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-info h-80">
                    <h6 class="modal-title">Public Holiday Export</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <textarea id="textareaExport" class="form-row mt-3" rows="8" cols="50" style="margin: auto;height: 200px;width: 450px;" readonly></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" id="btnPbExportCp">Copy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-info h-80">
                    <h6 class="modal-title">Public Holiday Import</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <textarea id="textareaImport" class="form-row mt-3" rows="8" cols="50" style="margin: auto;height: 200px;width: 450px;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" id="btnPbImportSb">Submit</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:src="@{/js/searchPublicHoliday.js}"></script>
</div>
</body>
</html>