<!DOCTYPE html>
<html lang="en"layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var outstandingFault = '[[${outstandingFaultList}]]';
        var ticketTimePeriodSummaryList = '[[${ticketTimePeriodSummaryList}]]';
        /*]]>*/
    </script>

    <h2>Dashboard</h2>
    <h3>Average fault clearing time: <label th:text="${avgFaultCleaningTime}">0</label> min</h3>
    <div style="width: 100%; height: 500px; background-color: white; padding: 20px">
        <div id="outstanding_fault" style="width: 100%; height: 100%"></div>
    </div>

    <div style="width: 100%; height: 500px; background-color: white; padding: 20px; margin-top: 50px">
        <div id="ticket_timeperiod_summary" style="width: 100%; height: 100%"></div>
    </div>


    <script type="text/javascript" th:src="@{/lib/echarts/echarts.min.js(v=${projectBuildtime})}"></script>
    <script type="text/javascript" th:src="@{/js/dashboard.js(v=${projectBuildtime})}"></script>
</div>
</body>
</html>