<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search BCHSP</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>Search BCHSP</h1>
    <form th:id="search-ticket-form" class="form-inline ml-3">
        <div class="form-row">
            <div class="col-md-6 form-inline pt-2">
                <label for="ticket_mas_id" class="col-form-label col-md-5 justify-content-end">Ticket Mas Id:</label>
                <input type="text" id="ticket_mas_id" class="form-control mb-2 mr-sm-2 col-md-5">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="ticketType" class="col-form-label col-md-5 justify-content-end">Ticket Type:</label>
                <select id="ticketType" class="form-control mb-2 mr-sm-2 col-md-5">
                    <option value=""><!--Please select--></option>
                    <option th:each="ticketType : ${ticketTypeList}" th:value="${ticketType.code}" th:text="${ticketType.codeDesc}"></option>
                </select>
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="search-status" class="col-form-label col-md-5 justify-content-end">Status:</label>
                <select id="search-status" class="form-control mb-2 mr-sm-2 col-md-5">
                    <option value=""><!--Please select--></option>
                    <!--/*@thymesVar id="ticketStatusList" type="java.util.List<com.hkt.btu.common.facade.data.BtuCodeDescData>"*/-->
                    <option th:each="ticketStatus : ${ticketStatusList}" th:value="${ticketStatus.code}" th:text="${ticketStatus.codeDesc}"></option>
                </select>
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="customer_code" class="col-form-label col-md-5 justify-content-end">Customer Code:</label>
                <input type="text" id="customer_code" class="form-control mb-2 mr-sm-2 col-md-5">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="serviceType" class="col-form-label col-md-5 justify-content-end">Service Type:</label>
                <select id="serviceType" class="form-control mb-2 mr-sm-2 col-md-5">
                    <option value=""><!--Please select--></option>
                    <option th:each="serviceType : ${serviceTypeList}" th:value="${serviceType.serviceTypeCode}" th:text="${serviceType.serviceTypeName}"></option>
                </select>
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="serviceNumber" class="col-form-label col-md-5 justify-content-end">Service Number:</label>
                <input type="text" id="serviceNumber" class="form-control mb-2 mr-sm-2 col-md-5">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="completeDateFrom" class="col-form-label col-md-5 justify-content-end">Complete Date From:</label>
                <input id="completeDateFrom" type="date" class="form-control mb-2 mr-sm-2 col-md-5" placeholder="Complete Date From">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="completeDateTo" class="col-form-label col-md-5 justify-content-end">Complete Date To:</label>
                <input id="completeDateTo" type="date" class="form-control mb-2 mr-sm-2 col-md-5" placeholder="Complete Date To">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="createDateFrom" class="col-form-label col-md-5 justify-content-end">Create Date From:</label>
                <input id="createDateFrom" type="date" class="form-control mb-2 mr-sm-2 col-md-5" placeholder="Create Date From">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="createDateTo" class="col-form-label col-md-5 justify-content-end">Create Date To:</label>
                <input id="createDateTo" type="date" class="form-control mb-2 mr-sm-2 col-md-5" placeholder="Create Date To">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="createBy" class="col-form-label col-md-5 justify-content-end">Create By:</label>
                <input type="text" id="createBy" class="form-control mb-2 mr-sm-2 col-md-5">
            </div>
            <div class="col-md-6 form-inline pt-2">
                <label for="owningRole" class="col-form-label col-md-5 justify-content-end">Team:</label>
                <select id="owningRole" class="form-control mb-2 mr-sm-2 col-md-5">
                    <option value=""><!--Please select--></option>
                    <option th:each="primaryRole : ${primaryRoleList}" th:value="${primaryRole.roleId}" th:text="${primaryRole.roleDesc}"></option>
                </select>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-lg btn-primary my-md-2" style="margin-left: 780px;"><i class="fas fa-search"></i> Search</button>
                <button class="btn btn-lg btn-primary ml-2 my-md-2" id="btnSearchReset"><i class="fas fa-sync"></i> Reset</button>
            </div>
        </div>
    </form>
    <table id="searchTicketTable" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Ticket Type</th>
            <th>Status</th>
            <th>Customer Code</th>
            <th>Service Type</th>
            <th>Service Number</th>
            <th>Call-in Count</th>
            <th>Complete Date</th>
            <th>Create Date</th>
            <th>Create By</th>
            <th>Team</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th>Ticket ID</th>
            <th>Ticket Type</th>
            <th>Status</th>
            <th>Customer Code</th>
            <th>Service Type</th>
            <th>Service Number</th>
            <th>Call-in Count</th>
            <th>Complete Date</th>
            <th>Create Date</th>
            <th>Create By</th>
            <th>Team</th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <script type="text/javascript" th:src="@{/js/searchBchsp.js(v=${projectBuildtime})}"></script>
</div>
</body>
</html>