<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout-fluid}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Summary of Current Month</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="card">
        <div class="card-header bg-info text-white h5">Team Summary of Current Month</div>
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab-team-summary" role="tab" aria-controls="tab-team-summary" aria-selected="true">Team Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-ticket-myTeam" role="tab" aria-controls="tab-ticket-myTeam" aria-selected="false">Tickets of My Team</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-team-summary" role="tabpanel" aria-labelledby="tab-team-summary">
                    <div class="form-row col-md-6">
                        <div id="query_ticket" class="col-md-6"></div>
                        <div id="job_ticket" class="col-md-6"></div>
                    </div>
                    <table class="table table-bordered table-hover mt-2 col-md-6" th:object="${teamSummary}">
                        <thead class="thead-light">
                        <tr>
                            <th>Status</th>
                            <th>Query Ticket</th>
                            <th>Job Ticket</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td class="text-primary">Open</td>
                                <td th:text="*{openQueryCount}"></td>
                                <td th:text="*{openJobCount}"></td>
                                <script>
                                    var query_open = '[[*{openQueryCount}]]';
                                    var job_open = '[[*{openJobCount}]]';
                                </script>
                            </tr>
                            <tr >
                                <td class="text-warning">Work</td>
                                <td th:text="*{workQueryCount}"></td>
                                <td th:text="*{workJobCount}"></td>
                                <script>
                                    var query_work = '[[*{workQueryCount}]]';
                                    var job_work = '[[*{workJobCount}]]';
                                </script>
                            </tr>
                            <tr >
                                <td class="text-success">Complete</td>
                                <td th:text="*{completeQueryCount}"></td>
                                <td th:text="*{completeJobCount}"></td>
                                <script>
                                    var query_complete = '[[*{completeQueryCount}]]';
                                    var job_complete = '[[*{completeJobCount}]]';
                                </script>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td th:text="*{queryTotal}"></td>
                                <td th:text="*{jobTotal}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab-ticket-myTeam" role="tabpanel" aria-labelledby="tab-ticket-myTeam">
                    <div class="col-md-12 mx-auto mt-1">
                        <table class="display" cellspacing="0" width="100%" >
                            <thead>
                                <tr>
                                    <th>Ticket ID</th>
                                    <th>Ticket Type</th>
                                    <th>Status</th>
                                    <th>Customer Code</th>
                                    <th>Service Type</th>
                                    <th>Service Number</th>
                                    <th>Call-in Count</th>
                                    <th>Complete Date</th>
                                    <th>Create Date</th>
                                    <th>Create By</th>
                                    <th>Team</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:src="@{/js/teamSummary.js(v=${projectBuildtime})}"></script>
</div>
</body>
</html>