<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout-fluid}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket Create</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script>
        var customerCode = '[[${ticketInfo.custCode}]]';
        var ticketMasId = '[[${ticketInfo.ticketMasId}]]';
        var ticketStatus = '[[${ticketInfo.ticketStatus}]]';
        var itsmUrl = '[[${ticketInfo.itsmUrl}]]';
    </script>
    <div class="card" style="margin-bottom: 75px;" th:object="${ticketInfo}">
        <div class="card-header bg-primary text-white">Ticket - <span th:text="*{ticketMasId}"></span></div>
        <div class="card-body">
            <form id="customer" class="row" >
                <div class="col-md-12">
                    <h3>Customer</h3>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Code:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custCode" th:value="*{custCode}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Type:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custType" th:value="*{custType}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Name:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custName" th:value="*{custName}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Status:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custStatus" th:value="*{custStatus}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Language Preference:</label>
                    <input type="text" class="form-control-plaintext col-md-5" th:value="*{languagePreference}" name="languagePreference" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Job Id:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="jobId" th:value="*{jobId}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Job Status:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="jobStatus" th:value="*{jobStatus}" readonly>
                </div>
            </form>
            <hr>
            <div id="contact" class="row">
                <div class="col-md-12">
                    <h3>Contact</h3>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-inline">
                        <select class="custom-select">
                            <option value="" hidden>Please select</option>
                            <option value="CUST">Customer</option>
                            <option value="ADMIN">Office Admin</option>
                            <option value="SITE">On-site Contact</option>
                            <option value="CALL">Caller</option>
                        </select>
                        <button type="button" class="btn btn-light ml-2" id="btnAddContact"><i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div id="contact_list" style="width:100%"></div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateContact" disabled="disabled">Update</button>
                </div>
            </div>
            <hr>
            <form id="service" class="row">
                <div class="col-md-12">
                    <h3>
                        Service
                        <a class="btn btn-info ml-3 text-white itsm_link" th:data>Link</a>
                    </h3>
                </div>
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Number: </label>
                            <input type="text" class="form-control col-md-6" name="serviceCode" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Type: </label>
                            <input type="text" class="form-control col-md-6" name="serviceType" readonly/>
                        </div>
                        <div class="temp_faults col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Symptom: </label>
                            <select name="symptom" id="symptomList" class="selectpicker form-control col-md-6" data-width="500px" data-live-search="true"></select>
                        </div>
<!--                        <div class="form-row faults_list"></div>-->
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Subscriber ID: </label>
                            <input type="text" class="form-control col-md-6" name="subsId" th:value="*{subsId}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Name: </label>
                            <input type="text" class="form-control col-md-6" name="offerName" th:value="*{offerName}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Status: </label>
                            <input type="text" class="form-control col-md-6" name="serviceStatus" th:value="*{serviceStatus}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Address: </label>
                            <input type="text" class="form-control col-md-6" name="serviceAddress" th:value="*{serviceAddress}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Pending order: </label>
                            <input type="text" class="form-control col-md-6" name="pendingOrder" th:value="*{pendingOrder}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Supplementary Offer: </label>
                            <input type="text" class="form-control col-md-6" name="supplementaryOffer" th:value="*{supplementaryOffer}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Offer Detail: </label>
                            <input type="text" class="form-control col-md-6" name="offerDetail" th:value="*{offerDetail}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">L1 PID/STB/Description: </label>
                            <input type="text" class="form-control col-md-6" name="description" th:value="*{description}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateService" >
                        Update
                    </button>
                </div>
            </form>
            <hr>
            <form id="appointment" class="row">
                <div class="col-md-12">
                    <h3>Appointment</h3>
                </div>
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Appointment Date:</label>
                            <input type="datetime-local" class="form-control col-md-6"
                                   name="appointmentDate" placeholder="1900-01-01T01:00"
                                   pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
                                    th:value="${appointmentDate}" th:disabled="${asap}">
                            <div class="form-check ml-3">
                                <input type="checkbox" class="form-check-input" id="asap_checkbox" th:checked="${asap}">
                                <label class="form-check-label" for="asap_checkbox">ASAP</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateAppointment">Update</button>
                </div>
            </form>
            <hr>
            <h3>Remark</h3>
            <div id="remark">
                <form class="col-md-12 form">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Remarks: </label>
                            <textarea rows="3" cols="20" class="form-control col-md-6" name="remarks"></textarea>
                        </div>
                    </div>
                </form>
                <div class="offset-md-10">
                    <button type="button" class="btn btn-primary mt-2" id="btnCreateTicketRemarks">
                        <i class="far fa-save"></i> Save
                    </button>
                </div>
                <table id="searchTicketRemarksTable" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Create Date</th>
                        <th>Type</th>
                        <th>Remarks</th>
                        <th>Create By</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Create Date</th>
                        <th>Type</th>
                        <th>Remarks</th>
                        <th>Create By</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <button type="button" class="btn btn-danger" id="btnTicketCancel">Cancel</button>
                <button type="button" class="btn btn-primary " id="btnTicketSubmit" th:disabled="*{not #strings.isEmpty(jobId)}">Submit</button>
            </div>
        </div>
    </div>

    <!--<div id="tempFaults" hidden="hidden">
        <div class="temp_faults col-md-6 form-inline pt-2">
            <label class="col-form-label col-md-3 justify-content-end">Symptom: </label>
            <select id="symptomList" class="selectpicker form-control col-md-6" data-width="500px" data-live-search="true">
            </select>
            <button type="button" class="btn btn-light md-2" onclick="removeFaults(this)"><i class="fa fa-times"
                                                                                             aria-hidden="true"></i>
            </button>
        </div>
    </div>-->

    <!--<div id="tempService" hidden="hidden">
        <form class="col-md-12 form">
            <div class="form-row">
                    <div class="col-md-6 form-inline pt-2">
                        <label class="col-form-label col-md-3 justify-content-end">Service Code: </label>
                        <input type="text" class="form-control col-md-6" name="serviceCode"/>
                    </div>
                    <div class="col-md-6 form-inline pt-2">
                        <label class="col-form-label col-md-3 justify-content-end">Service Type: </label>
                        <input type="text" class="form-control col-md-6" name="serviceType"/>
                        <button type="button" class="btn btn-light" onclick="addFaults(this);"><i
                                class="fa fa-plus" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-light" onclick="removeService(this)"><i
                                class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
            </div>
            <div class="form-row faults_list"></div>
        </form>
    </div>-->

    <div id="tempContact" hidden="hidden">
        <form class="col-md-12">
            <div class="form-row">
                <div class="col-md-12 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Contact Type:</label>
                    <input type="text" class="form-control-plaintext col-md-1" name="contactType">
                    <button type="button" class="btn btn-light ml-2" onclick="removeContact(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Name:</label>
                    <input type="text" class="form-control col-md-6" name="contactName">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact No. :</label>
                    <input type="text" class="form-control col-md-6" name="contactNumber">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Mobile:</label>
                    <input type="text" class="form-control col-md-6" name="contactMobile">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Email:</label>
                    <input type="text" class="form-control col-md-6" name="contactEmail">
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" th:src="@{/js/ticket_info.js}"></script>
</div>
</body>
</html>