<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout-fluid}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reletedTicket.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script>
        var customerCode = '[[${ticketInfo.custCode}]]';
        var ticketMasId = '[[${ticketInfo.ticketMasId}]]';
        var ticketStatusDesc = '[[${ticketInfo.ticketStatusDesc}]]';
        var bsn = '[[${ticketInfo.serviceNo}]]';
    </script>
    <div class="card" style="margin-bottom: 75px;" th:object="${ticketInfo}">
        <div class="card-header bg-primary text-white">Ticket - <span th:text="*{ticketMasId}"></span></div>
        <div class="card-body">
            <div id="ticket" class="row">
                <div class="col-md-12">
                    <h3>Ticket</h3>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Ticket Mas ID:</label>
                    <font class="form-control-plaintext col-md-7" th:text="*{ticketMasId}"></font>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Ticket Type:</label>
                    <font class="form-control-plaintext col-md-3" th:text="*{ticketType}"></font>
                </div>
                <div class="col-md-4 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Ticket Status:</label>
                    <span class="form-control-plaintext col-md-3" th:text="*{ticketStatusDesc}" id="ticketStatusDesc"></span>
                    <button type="button" class="btn btn-success" id="btnTicketClose" th:unless="*{ticketStatusDesc} eq 'COMPLETE'">Close</button>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Search Key:</label>
                    <font class="form-control-plaintext col-md-5" th:text="*{searchKeyDesc}"></font>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Search Value:</label>
                    <font class="form-control-plaintext col-md-5" th:text="*{searchValue}"></font>
                </div>
                <div class="col-md-4 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Call-in Count:</label>
                    <font class="form-control-plaintext col-md-3" th:text="*{callInCount}"></font>
                    <button type="button" class="btn btn-primary" id="btnCallInCount">Customer Re-call</button>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Team:</label>
                    <font class="form-control-plaintext col-md-5" th:text="*{owningRole}"></font>
                </div>
            </div>
            <hr>
            <form id="customer" class="row" >
                <div class="col-md-12">
                    <h3>Customer</h3>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Code:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custCode" th:value="*{custCode}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2" hidden="hidden">
                    <label class="col-form-label justify-content-end">Customer Type:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custType" th:value="*{custType}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Name:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custName" th:value="*{custName}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Status:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custStatus" th:value="*{custStatus}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Language Preference:</label>
                    <input type="text" class="form-control-plaintext col-md-5" th:value="*{languagePreference}" name="languagePreference" readonly>
                </div>
            </form>
            <hr>
            <div id="contact" class="row">
                <div class="col-md-12">
                    <h3>Contact</h3>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-inline">
                        <select class="custom-select">
                            <option value="" hidden>Please select</option>
                            <option value="CUST">Customer</option>
                            <option value="ADMIN">Office Admin</option>
                            <option value="SITE">On-site Contact</option>
                            <option value="CALL">Caller</option>
                        </select>
                        <button type="button" class="btn btn-light ml-2" id="btnAddContact" th:disabled="*{ticketStatusDesc} eq 'COMPLETE'"><i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div id="contact_list" style="width:100%"></div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateContact" disabled="disabled" th:disabled="*{ticketStatusDesc} eq 'COMPLETE'">Update</button>
                </div>
            </div>
            <hr>
            <form id="service" class="row">
                <div class="col-md-12">
                    <h3>
                        Service
                        <button type="button" class="btn btn-info ml-3 detail" th:attr="data-url=*{itsmUrl}" th:disabled="not *{itsmUrl}" id="btnServiceLink">E-Cloud Detail</button>
                        <button type="button" class="btn btn-info ml-3 otherDetail" onclick='getInventory(bsn);'>Inventory Detail</button>
                        <button type="button" class="btn btn-info ml-3 otherDetail" onclick="getOfferDetailList(bsn);">BB Detail</button>
                        <button th:disabled="not *{ngn3reset}"type="button" class="btn btn-info ml-3" onclick='getRelatedOfferInfo(bsn);'>VoIP Detail</button>
                        <button th:if="*{ngn3reset}" type="button" class="btn btn-info ml-3" id="btnResetNGN3PWD">Re-set NGN3 Account Password</button>
                        <button th:if="*{ngn3reset}" type="button" class="btn btn-info ml-3" onclick="getNGN3OneDayAdminAccount(bsn);">One Day Admin Account</button>
                    </h3>
                </div>
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Number: </label>
                            <input type="text" class="form-control col-md-6" name="serviceCode" readonly th:value="*{serviceNo}"/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Type: </label>
                            <input type="text" class="form-control col-md-6" name="serviceType" readonly th:value="*{serviceTypeDesc}">
                        </div>
                        <div class="temp_faults col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Symptom: </label>
                            <select name="symptom" id="symptomList" class="selectpicker form-control col-md-6" data-width="500px" data-live-search="true" title="Please select symptom..." th:disabled="*{ticketStatusDesc} ne 'OPEN'"></select>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Subscriber ID: </label>
                            <input type="text" class="form-control col-md-6" name="subsId" th:value="*{subsId}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Offer Name: </label>
                            <input type="text" class="form-control col-md-6" name="offerName" th:value="*{offerName}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Status: </label>
                            <input type="text" class="form-control col-md-6" name="serviceStatusDesc" th:value="*{serviceStatusDesc}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Address: </label>
                            <input type="text" class="form-control col-md-6" name="serviceAddress" th:value="*{serviceAddress}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">L1 PID/STB/Description: </label>
                            <input type="text" class="form-control col-md-6" name="description" th:value="*{description}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Related BSN: </label>
                            <input type="text" class="form-control col-md-6" name="relatedBsn" th:value="*{relatedBsn}" th:id="relatedBsn" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Exchange: </label>
                            <input type="text" class="form-control col-md-6" name="exchangeBuildingId" th:value="*{exchangeBuildingId}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateService" th:disabled="*{ticketStatusDesc} ne 'OPEN'">
                        Update
                    </button>
                </div>
            </form>
            <hr>
            <form id="appointment" class="row">
                <div class="col-md-12">
                    <h3>Job <button type="button" class="btn btn-info ml-3" id="btnMakeAppointment">Make Appointment</button></h3>
                    <div class="col-md-6 form-inline pt-2">
                        <label class="col-form-label col-md-4 justify-content-end">Appointment Date:</label>
                        <input type="text" class="form-control col-md-4" name="appointmentDateStr" readonly>
                    </div>
                    <hr>
                </div>
                <div id="jobList">

                </div>
                <div class="col-md-12 jobItem" hidden="hidden">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Job Id:</label>
                            <input type="text" class="form-control col-md-6" name="jobId" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Department ID:</label>
                            <input type="text" class="form-control col-md-6" name="deptId" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">System ID:</label>
                            <input type="text" class="form-control col-md-6" name="sysId" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Status:</label>
                            <input type="text" class="form-control col-md-6" name="status" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">AssignTech:</label>
                            <input type="text" class="form-control col-md-6" name="assignTech"  readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Action Date:</label>
                            <input type="text" class="form-control col-md-6" name="actionDate" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">SR Date:</label>
                            <input type="text" class="form-control col-md-6" name="srDate"readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">ApptDate:</label>
                            <input type="text" class="form-control col-md-6" name="apptDate" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">ApptSTime:</label>
                            <input type="text" class="form-control col-md-6" name="apptSTime" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">ApptETime:</label>
                            <input type="text" class="form-control col-md-6" name="apptETime"readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Last Update Date:</label>
                            <input type="text" class="form-control col-md-6" name="lastUpdateDate"readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">FieldInd:</label>
                            <input type="text" class="form-control col-md-6" name="fieldInd" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Last Job Ind:</label>
                            <input type="text" class="form-control col-md-6" name="lastJobInd" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Alert Field Remark:</label>
                            <input type="text" class="form-control col-md-6" name="alertFieldRemark" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Work Group:</label>
                            <input type="text" class="form-control col-md-6" name="workgroup" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2 end">
                            <label class="col-form-label col-md-3 justify-content-end">Resolver:</label>
                            <input type="text" class="form-control col-md-6" name="resolver" readonly>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <h3>Remark</h3>
            <div id="remark" class="row">
                <form class="col-md-12 form">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Remarks: </label>
                            <textarea rows="3" cols="20" class="form-control col-md-6" name="remarks"></textarea>
                        </div>
                    </div>
                </form>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2 mb-md-2" id="btnCreateTicketRemarks" th:disabled="*{ticketStatusDesc} eq 'COMPLETE'">
                        <i class="far fa-save"></i> Save
                    </button>
                </div>
            </div>
            <table id="searchTicketRemarksTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Create Date</th>
                    <th>Type</th>
                    <th>Remarks</th>
                    <th>Create By</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>Create Date</th>
                    <th>Type</th>
                    <th>Remarks</th>
                    <th>Create By</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <button type="button" class="btn btn-primary " id="btnTicketSubmit" th:disabled="*{ticketStatusDesc} ne 'OPEN'">Submit</button>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Related Ticket</h3>
                    <span class="float-right clickable"><i class="glyphicon glyphicon-chevron-left"></i></span>
                </div>
                <div class="panel-body">
                    <table id="relatedTicketTable" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Ticket Id</th>
                            <th>Ticket Type</th>
                            <th>Status</th>
                            <th>Call-in Count</th>
                            <th>Create Date</th>
                            <th>Complete Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Ticket Id</th>
                            <th>Ticket Type</th>
                            <th>Status</th>
                            <th>Call-in Count</th>
                            <th>Create Date</th>
                            <th>Complete Date</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="tempContact" hidden="hidden">
        <form class="col-md-12">
            <div class="form-row">
                <div class="col-md-12 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Contact Type:</label>
                    <input type="text" class="form-control-plaintext col-md-1" name="contactType">
                    <button type="button" class="btn btn-light ml-2" onclick="removeContact(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Name:</label>
                    <input type="text" class="form-control col-md-6" name="contactName">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact No. :</label>
                    <input type="text" class="form-control col-md-6" name="contactNumber">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Mobile:</label>
                    <input type="text" class="form-control col-md-6" name="contactMobile">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Email:</label>
                    <input type="text" class="form-control col-md-6" name="contactEmail">
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade reason">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-info h-80">
                    <h6 class="modal-title">Closing Ticket</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Contact Name:</label>
                                <input type="text" class="form-control" name="contactName" required>
                                <div class="invalid-feedback">
                                    Please input contact name.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label >Contact Number:</label>
                                <input type="text" class="form-control" name="contactNumber" pattern="[0-9]{8}">
                                <div class="invalid-feedback">
                                    Must be 8 digits.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <label class="col-md-2 justify-content-end" >Reason:</label>
                            <select class="custom-select col-md-10" required name="reasonType">
                                <option value="" hidden>Please select</option>
                                <option value="CUSTOMER REPORT OK & REQUEST CANCEL">Customer Report OK & Request Cancel</option>
                                <option value="Wrong Issue" >Wrong Issue</option>
                                <option value="Generated 1-day Password - Job Done">Generated 1-day Password - Job Done</option>
                                <option value="Reset NGN3 Password - Job Done">Reset NGN3 Password - Job Done</option>
                            </select>
                            <div class="invalid-feedback offset-md-2">
                                Please select on reason.
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-md-2 justify-content-end">Remark:</label>
                            <textarea class="form-control col-md-10 mt-2" required name="reasonContent" rows="3"></textarea>
                            <div class="invalid-feedback offset-md-2">
                                Please enter a message in the textarea.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" id="btnReasonSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ngn3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-info h-60">
                    <h6 class="modal-title">Re-set NGN3 Account Password</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row form-inline">
                            <select class="custom-select" required name="ngn3Account">
                                <option value="" hidden>Account ID</option>
                            </select>
                            <input type="text" class="form-control col-md-6 ml-3" readonly name="ngn3pwd"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" id="btnNgn3Reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ngn3-one-day-account">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-info h-60">
                    <h6 class="modal-title">One Day Admin Account</h6>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row form-inline">
                            <label class="form-label justify-content-end col-md-3">Account ID:</label>
                            <input type="text" class="form-control col-md-6" name="accountId" readonly>
                        </div>
                        <div class="form-row form-inline mt-3">
                            <label class="form-label justify-content-end col-md-3">Password:</label>
                            <input type="text" class="form-control col-md-6" name="password"  readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/ticketInfo.js}"></script>
    <script type="text/javascript" th:src="@{/js/appointment_sd_util.js}"></script>
</div>
</body>
</html>