<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout-fluid}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket Info</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script>
        var customerCode = '[[${ticketInfo.custCode}]]';
        var ticketMasId = '[[${ticketInfo.ticketMasId}]]';
        var ticketStatus = '[[${ticketInfo.ticketStatus}]]';
        var itsmUrl = '[[${ticketInfo.itsmUrl}]]';
        var bsn = '[[${ticketInfo.serviceNo}]]';
    </script>
    <div class="card" style="margin-bottom: 75px;" th:object="${ticketInfo}">
        <div class="card-header bg-primary text-white">Ticket - <span th:text="*{ticketMasId}"></span></div>
        <div class="card-body">
            <div id="ticket" class="row">
                <div class="col-md-12">
                    <h3>Ticket</h3>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Ticket Mas ID:</label>
                    <font class="form-control-plaintext col-md-7" th:text="*{ticketMasId}"></font>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Ticket Status:</label>
                    <font class="form-control-plaintext col-md-3" th:text="*{ticketStatus}" id="ticketStatus"></font>
                    <button type="button" class="btn btn-success" id="btnTicketClose" th:unless="*{ticketStatus} eq 'COMPLETE'">Close</button>
                </div>
                <div class="col-md-4 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Call-in Count:</label>
                    <font class="form-control-plaintext col-md-3" th:text="*{callInCount}"></font>
                    <button type="button" class="btn btn-primary" id="btnCallInCount">Customer Re-call</button>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Search Key:</label>
                    <font class="form-control-plaintext col-md-3" th:text="*{searchKeyDesc}"></font>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Search Value:</label>
                    <font class="form-control-plaintext col-md-5" th:text="*{searchValue}"></font>
                </div>
            </div>
            <hr>
            <form id="customer" class="row" >
                <div class="col-md-12">
                    <h3>Customer</h3>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Code:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custCode" th:value="*{custCode}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Type:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custType" th:value="*{custType}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Name:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custName" th:value="*{custName}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Status:</label>
                    <input type="text" class="form-control-plaintext col-md-7" name="custStatus" th:value="*{custStatus}" readonly>
                </div>
                <div class="col-md-3 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Language Preference:</label>
                    <input type="text" class="form-control-plaintext col-md-5" th:value="*{languagePreference}" name="languagePreference" readonly>
                </div>
            </form>
            <hr>
            <div id="contact" class="row">
                <div class="col-md-12">
                    <h3>Contact</h3>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-inline">
                        <select class="custom-select">
                            <option value="" hidden>Please select</option>
                            <option value="CUST">Customer</option>
                            <option value="ADMIN">Office Admin</option>
                            <option value="SITE">On-site Contact</option>
                            <option value="CALL">Caller</option>
                        </select>
                        <button type="button" class="btn btn-light ml-2" id="btnAddContact" th:disabled="*{ticketStatus} eq 'COMPLETE'"><i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div id="contact_list" style="width:100%"></div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateContact" disabled="disabled" th:disabled="*{ticketStatus} eq 'COMPLETE'">Update</button>
                </div>
            </div>
            <hr>
            <form id="service" class="row">
                <div class="col-md-12">
                    <h3>
                        Service
                        <button type="button" class="btn btn-info ml-3" th:attr="data-url=*{itsmUrl}" th:disabled="not *{itsmUrl}" id="btnServiceLink">Link</button>
                        <button type="button" class="btn btn-info ml-3" onclick='getInventory(bsn);'>Get Inventory</button>
                        <button type="button" class="btn btn-info ml-3" onclick='getRelatedOfferInfo(bsn);'>Related Offer Info</button>
                    </h3>
                </div>
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Number: </label>
                            <input type="text" class="form-control col-md-6" name="serviceCode" readonly th:value="*{serviceNo}"/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Type: </label>
                            <input type="text" class="form-control col-md-6" name="serviceType" readonly th:value="*{serviceType}">
                        </div>
                        <div class="temp_faults col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Symptom: </label>
                            <select name="symptom" id="symptomList" class="selectpicker form-control col-md-6" data-width="500px" data-live-search="true" th:disabled="*{ticketStatus} ne 'OPEN'"></select>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Subscriber ID: </label>
                            <input type="text" class="form-control col-md-6" name="subsId" th:value="*{subsId}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Name: </label>
                            <input type="text" class="form-control col-md-6" name="offerName" th:value="*{offerName}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Status: </label>
                            <input type="text" class="form-control col-md-6" name="serviceStatusDesc" th:value="*{serviceStatusDesc}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Service Address: </label>
                            <input type="text" class="form-control col-md-6" name="serviceAddress" th:value="*{serviceAddress}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Pending order: </label>
                            <input type="text" class="form-control col-md-6" name="pendingOrder" th:value="*{pendingOrder}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Supplementary Offer: </label>
                            <input type="text" class="form-control col-md-6" name="supplementaryOffer" th:value="*{supplementaryOffer}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">L1 PID/STB/Description: </label>
                            <input type="text" class="form-control col-md-6" name="description" th:value="*{description}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Grid ID: </label>
                            <input type="text" class="form-control col-md-6" name="gridId" th:value="*{gridId}" readonly/>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Exchange Building ID: </label>
                            <input type="text" class="form-control col-md-6" name="exchangeBuildingId" th:value="*{exchangeBuildingId}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateService" th:disabled="*{ticketStatus} ne 'OPEN'">
                        Update
                    </button>
                </div>
            </form>
            <hr>
            <form id="appointment" class="row">
                <div class="col-md-12">
                    <h3>Job <button type="button" class="btn btn-info ml-3" id="btnMakeAppointment">Make Appointment</button></h3>
                    <!--<a href="#" class="btn btn-default"
                       onClick="javascript:makeAppointment();">MakeAppointment </a>-->
                </div>
                <div id="jobList">

                </div>
                <div class="col-md-12 jobItem" hidden="hidden">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Job Id:</label>
                            <input type="text" class="form-control col-md-6" name="jobId" th:value="*{jobId}" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Job Status:</label>
                            <input type="text" class="form-control col-md-6" name="jobStatus" th:value="*{jobStatus}" readonly>
                        </div>
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Handler:</label>
                            <input type="text" class="form-control col-md-6" name="handler" th:value="*{jobId}" readonly>
                        </div>
                        <!--<div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Appointment Date:</label>
                            <input type="datetime-local" class="form-control col-md-6"
                                   name="appointmentDate" placeholder="1900-01-01T01:00"
                                   pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
                                    th:value="${appointmentDate}" th:disabled="${asap}">
                            <div class="form-check ml-3">
                                <input type="checkbox" class="form-check-input" id="asap_checkbox" th:checked="${asap}">
                                <label class="form-check-label" for="asap_checkbox">ASAP</label>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateAppointment">Update</button>
                </div>
            </form>
            <hr>
            <h3>Remark</h3>
            <div id="remark" class="row">
                <form class="col-md-12 form">
                    <div class="form-row">
                        <div class="col-md-6 form-inline pt-2">
                            <label class="col-form-label col-md-3 justify-content-end">Remarks: </label>
                            <textarea rows="3" cols="20" class="form-control col-md-6" name="remarks"></textarea>
                        </div>
                    </div>
                </form>
                <div class="offset-md-11">
                    <button type="button" class="btn btn-primary mt-2" id="btnCreateTicketRemarks" th:disabled="*{ticketStatus} eq 'COMPLETE'">
                        <i class="far fa-save"></i> Save
                    </button>
                </div>
            </div>
            <table id="searchTicketRemarksTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Create Date</th>
                    <th>Type</th>
                    <th>Remarks</th>
                    <th>Create By</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>Create Date</th>
                    <th>Type</th>
                    <th>Remarks</th>
                    <th>Create By</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <button type="button" class="btn btn-primary " id="btnTicketSubmit" th:disabled="*{ticketStatus} ne 'OPEN'">Submit</button>
            </div>
        </div>
    </div>

    <div id="tempContact" hidden="hidden">
        <form class="col-md-12">
            <div class="form-row">
                <div class="col-md-12 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Contact Type:</label>
                    <input type="text" class="form-control-plaintext col-md-1" name="contactType">
                    <button type="button" class="btn btn-light ml-2" onclick="removeContact(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Name:</label>
                    <input type="text" class="form-control col-md-6" name="contactName">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact No. :</label>
                    <input type="text" class="form-control col-md-6" name="contactNumber">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Mobile:</label>
                    <input type="text" class="form-control col-md-6" name="contactMobile">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Email:</label>
                    <input type="text" class="form-control col-md-6" name="contactEmail">
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-secondary h-80">
                    <h6 class="modal-title">Reason</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <select class="custom-select" required name="reasonType">
                                <option value="" hidden>Please select</option>
                                <option value="Customer Request Close">Customer Request Close</option>
                                <option value="Invalid Input">Invalid Input</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select on reason.
                            </div>
                            <textarea class="form-control col-md-12 mt-2" required name="reasonContent"></textarea>
                            <div class="invalid-feedback">
                                Please enter a message in the textarea.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary float-right" id="btnReasonSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/ticketInfo.js}"></script>
    <script th:src="@{/js/appointment_sd_util.js}" type="text/javascript"></script>
</div>
</body>
</html>