<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout-fluid}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket Create</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script>
        var customerCode = '[[${customerCode}]]';
        var ticketMasId = '[[${ticketMasId}]]';

    </script>
    <div class="card " style="margin-bottom: 75px;">
        <div class="card-header bg-primary text-white">Ticket - <span th:text="${ticketMasId}"></span></div>
        <div class="card-body">
            <div id="customer" class="row">
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Customer Code:</label>
                    <input type="text" class="form-control-plaintext col-md-3" name="custCode" th:value="${customerCode}">
                </div>
            </div>
            <hr>
            <div id="contact" class="row">
                <div class="col-md-12">
                    <div class="form-group form-inline">
                        <select class="custom-select">
                            <option value="" hidden>Please select</option>
                            <option value="CUST">Customer</option>
                            <option value="ADMIN">Office Admin</option>
                            <option value="SITE">On-site Contact</option>
                        </select>
                        <button type="button" class="btn btn-light ml-2" id="btnAddContact"><i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div id="contact_list"></div>
                <div class="offset-md-10">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateContact" disabled="disabled">Update</button>
                </div>
            </div>

            <div id="service">
                <h2>Service
                    <button type="button" class="btn btn-light ml-2" id="btnAddService"><i class="fa fa-plus"
                                                                                           aria-hidden="true"></i>
                    </button>
                </h2>

                <div id="service_list">
                </div>
                <div class="offset-md-10">
                    <button type="button" class="btn btn-primary mt-2" id="btnUpdateService" disabled="disabled">
                        Update
                    </button>
                </div>
            </div>
            <div id="remark"></div>
        </div>

    </div>

    <div id="tempFaults" hidden="hidden">
        <div class="temp_faults col-md-6 form-inline pt-2">
            <label class="col-form-label col-md-3 justify-content-end">Faults: </label>
            <input type="text" class="form-control col-md-4" name="faults"/>
            <button type="button" class="btn btn-light md-2" onclick="removeFaults(this)"><i class="fa fa-times"
                                                                                             aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div id="tempService" hidden="hidden">
        <form class="col-md-12 form">
            <div class="form-row">
                    <div class="col-md-6 form-inline pt-2">
                        <label class="col-form-label col-md-3 justify-content-end">Service Code: </label>
                        <input type="text" class="form-control col-md-6" name="serviceCode"/>
                    </div>
                    <div class="col-md-6 form-inline pt-2">
                        <label class="col-form-label col-md-3 justify-content-end">Service Type: </label>
                        <input type="text" class="form-control col-md-6" name="serviceType"/>
                        <button type="button" class="btn btn-light" onclick="addFaults(this);"><i
                                class="fa fa-plus" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-light" onclick="removeService(this)"><i
                                class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
            </div>
            <div class="form-row faults_list"></div>
        </form>
    </div>

    <div id="tempContact" hidden="hidden">
        <form class="col-md-12 form">
            <div class="form-row">
                <div class="col-md-12 form-inline pt-2">
                    <label class="col-form-label justify-content-end">Contact Type:</label>
                    <input type="text" class="form-control-plaintext col-md-2 text-center" name="contactType">
                    <button type="button" class="btn btn-light ml-2" onclick="removeContact(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Name:</label>
                    <input type="text" class="form-control col-md-6" name="contactName">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact No. :</label>
                    <input type="text" class="form-control col-md-6" name="contactNumber">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Mobile:</label>
                    <input type="text" class="form-control col-md-6" name="contactMobile">
                </div>
                <div class="col-md-6 form-inline pt-2">
                    <label class="col-form-label col-md-3 justify-content-end">Contact Email:</label>
                    <input type="text" class="form-control col-md-6" name="contactEmail">
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/ticket_info.js}"></script>
</div>
</body>
</html>