<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Account</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>User Profile</h1>
    <form class="row">
        <div class="col-md-12">
            <div class="d-inline-block col-md-5 form-group">
                <label>User ID</label>
                <input th:id="my-user-id" type="text" class="form-control" readonly>

                <label>Email (Login ID)</label>
                <input th:id="my-email" type="email" class="form-control" readonly>

                <label>Name</label>
                <input th:id="my-name" type="text" class="form-control" readonly>

                <label>Mobile</label>
                <input th:id="my-mobile" type="tel" class="form-control" readonly>
            </div>

            <div class="d-inline-block col-md-5 form-group">
                <label>Status</label>
                <input th:id="my-status" type="text" class="form-control" readonly>


                <label class="emailUserInfo">Login Tried</label>
                <input th:id="my-login-tried" type="number" class="form-control" readonly>

                <label class="emailUserInfo">Password Modify Date</label>
                <input th:id="my-password-modify-date" type="text" class="form-control" readonly>

                <label class="ldapUserInfo">LDAP Domain</label>
                <input th:id="my-ldap-domain" type="text" class="form-control" readonly/>
            </div>
        </div>
    </form>

    <script type="text/javascript" th:src="@{/js/myAccount.js}"></script>
</div>
</body>
</html>