<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Symptom</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1 style="padding-top:3%">Edit Symptom Mapping</h1>
    <form style="width:80%">
        <input type="text" id="oldServiceTypeCode" name="oldServiceTypeCode" th:value="${serviceTypeCode}" hidden="hidden" />
        <input type="text" id="oldSymptomGroupCode" name="oldSymptomGroupCode" th:value="${symptomGroupCode}" hidden="hidden" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Service Type</label>
                <select class="form-control custom-select" id="serviceTypeCode" name="serviceTypeCode" readonly disabled>
                    <option th:each="type : ${serviceTypeList}" th:text="${type.serviceTypeName}" th:value="${type.serviceTypeCode}"></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Symptom Group</label>
                <select class="form-control custom-select" id="symptomGroupCode" name="symptomGroupCode" readonly disabled>
                    <option th:each="group : ${symptomGroupList}" th:text="${group.symptomGroupName}" th:value="${group.symptomGroupCode}"></option>
                </select>
            </div>
        </div>
        <div class="mt-5 from-row">
            <button type="button" class="btn btn-lg btn-primary mr-sm-2" id="btnEdit"><i class="far fa-save"></i> Edit</button>
            <button type="button" class="btn btn-lg btn-primary mr-sm-2" id="btnSubmit"><i class="far fa-save"></i> Submit</button>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/editSymptomMapping.js}"></script>

</div>
</body>
</html>