<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Symptom</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <form th:id="search-symptom-form" class="form-inline">
        <input type="text" class="form-control mb-2 mr-sm-2" th:id="symptomGroupCode" placeholder="Symptom Group Code">
        <input type="text" class="form-control mb-2 mr-sm-2" th:id="symptomDescription" placeholder="Symptom Description">
        <button type="submit" class="btn btn-lg btn-primary mb-2"><i class="fas fa-search"></i> Search</button>
    </form>
    <h1>Symptom List</h1>
    <table id="searchSymptomTable" class="display">
        <thead>
            <tr>
                <th>Symptom Code</th>
                <th>Symptom Description</th>
                <th>Symptom Group</th>
                <th>Modify Date</th>
                <th>Modify By</th>
                <th><!--edit symptom link--></th>
            </tr>
        </thead>

        <tbody></tbody>

        <tfoot>
            <tr>
                <th>Symptom Code</th>
                <th>Symptom Description</th>
                <th>Symptom Group</th>
                <th>Modify Date</th>
                <th>Modify By</th>
                <th><!--edit symptom link--></th>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript" th:src="@{/js/searchSymptom.js(v=${projectBuildtime})}"></script>
</div>
</body>
</html>