<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change UserType To PCCW/HKT User</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>Change User Type To PCCW/HKT User</h1>

    <form class="row" th:action="@{/admin/manage-user/changeUserType/pccw-hkt-user}" th:object="${changeUserTypeFormData}"
          method="post">
        <div class="col-md-12">
            <div class="d-inline-block col-md-5 form-group align-top">
                <input type="hidden" th:value="${oldUserId}" name="userId">
                <label>Login ID</label>
                <input type="text" th:field="*{newUserId}" id="hktLoginId" onchange="addHktPrefix('T')" class="form-control" placeholder="Your StaffId" maxlength="8"
                       required>

                <label>Email</label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="your-email@pccw.com"
                       maxlength="50" required>

                <label>Name</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Your Name" maxlength="100"
                       required>

                <label>Contact Number</label>
                <input type="tel" th:field="*{mobile}" class="form-control" placeholder="28832299" maxlength="15"
                       required>

            </div>
        </div>

        <div class="col-md-12">
            <div class="d-inline-block col-md-10 form-group">
                <button type="submit" class="btn btn-lg btn-primary float-right"><i class="fab fa-telegram-plane"></i>
                    Submit
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/createUser.js(v=${session.version})}"></script>
</div>
</body>
</html>