<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change User Type To LDAP User</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>Change User Type To LDAP User</h1>

    <form class="row" id="userTypeForm" th:action="@{/admin/manage-user/changeUserType/ldap-user}" th:object="${changeUserTypeFormData}" method="post">
        <div class="col-md-12">
            <div class="d-inline-block col-md-5 form-group align-top">
                <input type="hidden" th:value="${oldUserId}" name="userId">
                <label>Employee Number</label>
                <input type="text" th:field="*{newUserId}" class="form-control" placeholder="Your StaffId" maxlength="8" required>

                <label>Name</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Your Name" maxlength="100" required>

                <label>Email</label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="your-email@pccw.com"
                       maxlength="50" required>

                <label>Mobile</label>
                <input type="tel" th:field="*{mobile}" class="form-control" placeholder="28832299" maxlength="15" required>

                <label>LDAP Domain</label>
                <select th:field="*{ldapDomain}" class="form-control" required>
                    <option value="" selected>==Please Select==</option>
                    <option value="@corphq.hk.pccw.com">CORPHQ-HK-PCCW</option>
                    <option value="@oa.hkcsl.net">OA-HKCSL-NET</option>
                    <option value="@corp.root">CORP</option>
                </select>

            </div>

        </div>

        <div class="col-md-12">
            <div class="d-inline-block col-md-10 form-group">
                <button type="submit" class="btn btn-lg btn-primary float-right">
                    <i class="fab fa-telegram-plane"></i> Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>