<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <style>
        .contact-us .pos{
            padding: 0 2rem;
        }
    </style>

    <div class="contact-us">
        <h1>Contact Us</h1>

        <div class="district">
            <h2>Hong Kong Island</h2>
            <div class="pos col-md-5 d-inline-block">
                <h3>VTA SkyExchange</h3>
                <table class="table table-sm table-hover table-borderless">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th>Email:</th>
                            <td><a th:href="'mailto:pccwnfmvta@pccw.com'" th:text="'pccwnfmvta@pccw.com'"></a></td>
                        </tr>
                        <tr>
                            <th>Telephone:</th>
                            <td><a th:href="'tel:2883-2717'" th:text="'2883-2717'"></a></td>
                        </tr>
                        <tr>
                            <th>Fax:</th>
                            <td><a th:href="'tel:2167-8897'" th:text="'2167-8897'"></a></td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>
                                <a th:href="'https://goo.gl/maps/wN9pGLL7E8z'" target="_blank">
                                    <p>4/F, Grand Millennium Plaza, 181 Queen's Road Central, Sheung Wan, Hong Kong</p>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pos col-md-5 d-inline-block">
                <h3>LKT SkyExchange</h3>
                <table class="table table-sm table-hover table-borderless">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th>Email:</th>
                            <td><a th:href="'mailto:pccwnfmlkt@pccw.com'" th:text="'pccwnfmlkt@pccw.com'"></a></td>
                        </tr>
                        <tr>
                            <th>Telephone:</th>
                            <td><a th:href="'tel:2883-2299'" th:text="'2883-2299'"></a></td>
                        </tr>
                        <tr>
                            <th>Fax:</th>
                            <td><a th:href="'tel:2527-7868'" th:text="'2527-7868'"></a></td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>
                                <a th:href="'https://goo.gl/maps/aGWfXg5rMgo'" target="_blank">
                                    <p>2/F & 5/F, Lockhart Exchange, 3 Hennessy Road, Wan Chai, Hong Kong</p>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr class="style1">
        </div>

        <div class="district">
            <h2>New Territories</h2>
            <div class="pos col-md-5 d-inline-block">
                <h3>JBY SkyExchange</h3>
                <table class="table table-sm table-hover table-borderless">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <th>Email:</th>
                        <td><a th:href="'mailto:pccwnfmjby@pccw.com'" th:text="'pccwnfmjby@pccw.com'"></a></td>
                    </tr>
                    <tr>
                        <th>Telephone:</th>
                        <td><a th:href="'tel:2883-5483'" th:text="'2883-5483'"></a></td>
                    </tr>
                    <tr>
                        <th>Fax:</th>
                        <td><a th:href="'tel:2623-5217'" th:text="'2623-5217'"></a></td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>
                            <a th:href="'https://goo.gl/maps/7Lb3BVpjsZy'" target="_blank">
                                <p>1/F, JBY Exchange, 22 Wan Lung Road, Tseung Kwan O, New Territories, Hong Kong</p>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pos col-md-5 d-inline-block">
                <h3>IAC SkyExchange</h3>
                <table class="table table-sm table-hover table-borderless">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <th>Email:</th>
                        <td><a th:href="'mailto:pccwnfmiac@pccw.com'" th:text="'pccwnfmiac@pccw.com'"></a></td>
                    </tr>
                    <tr>
                        <th>Telephone:</th>
                        <td><a th:href="'tel:2888-2635'" th:text="'2888-2635'"></a></td>
                    </tr>
                    <tr>
                        <th>Fax:</th>
                        <td><a th:href="'tel:2107-4933'" th:text="'2107-4933'"></a></td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>
                            <a th:href="'https://goo.gl/maps/qM2cCjV5QxK2'" target="_blank" >
                                <p>2/F, 22 Chun Cheong Street, Tseung Kwan O Industrial Estate, New Territories, Hong Kong</p>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr class="style1">
        </div>

    </div>
</div>
</body>
</html>