<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <style>
        .contact-us .pos{
            padding: 0 2rem;
        }
    </style>

    <div class="contact-us">
        <h1>Contact Us</h1>

        <div class="district">
            <div class="pos col-md-5 d-inline-block">
                <h3>BTU Helpdesk</h3>
                <table class="table table-sm table-hover table-borderless">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th>Email:</th>
                            <td><a th:href="'mailto:Helpdesk.BTU@pccw.com'" th:text="'Helpdesk.BTU@pccw.com'"></a></td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>
                                <a th:href="'https://goo.gl/maps/V9U6uEAAcjDZ7Sjp8'" target="_blank">
                                    <p>4/F, Yau Tak Industrial Building, 21 San On Street, Tuen Mun</p>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="style1">
        </div>
    </div>
</div>
</body>
</html>