<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Terms Of User</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div>
        <h1>Terms</h1>

        <div class="district">
            <div class="col-md-12 d-inline-block" style="padding: 0 2rem;">
                <h3>PCCW / HKT</h3>
                <span>
                    - The system is to be logged in to or used only by specifically authorized personnel
                    <br>
                    - Any unauthorized use of the system is unlawful and may be subject to civil and/or criminal penalties
                    <br>
                    - Use of the system is logged or monitored without further notice,
                    and that the resulting logs may be used as evidence in court
                </span>

                <br><br>
                <b>
                    UNAUTHORIZED ACCESS IS PROHIBITED
                </b>
            </div>
            <hr class="style1">
        </div>
    </div>
</div>
</body>
</html>