<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body style="margin: 0; padding: 0;">
<div style="margin:0;padding:10px;text-align:justify">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f8f9fa">
        <tbody><tr><td align="center" valign="top">

            <!--/*@thymesVar id="email_basic_recipient_name" type="java.lang.String"*/-->
            <!--/*@thymesVar id="email_basic_recipient" type="java.lang.String"*/-->

            <!--/*@thymesVar id="email_global_web_url" type="java.lang.String"*/-->
            <!--/*@thymesVar id="email_global_web_name" type="java.lang.String"*/-->
            <!--/*@thymesVar id="email_global_logo_cid" type="java.lang.String"*/-->
            <!--/*@thymesVar id="email_global_logo_hkt_cid" type="java.lang.String"*/-->
            <!--/*@thymesVar id="email_global_logo_pccw_grp_cid" type="java.lang.String"*/-->

            <!--/*@thymesVar id="otp" type="java.lang.String"*/-->


            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff;">
                <tbody>
                <tr>
                    <td width="100%" height="80" style="height:80px; padding: 5px">
                        <img height="60" style="height:60px;" th:src="'cid:'+${email_global_logo_cid}" alt="logo-header-sky-exchange">
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>
                            <div style="margin:20px">
                                <div class="email-opening" style="margin-bottom: 40px">
                                    <p>
                                        Dear
                                        <span th:if="${#strings.isEmpty(email_basic_recipient_name)}"> Valued Customer,</span>
                                        <span th:if="!${#strings.isEmpty(email_basic_recipient_name)}" th:text="${email_basic_recipient_name}+','"></span>
                                    </p>
                                </div>



                                <div class="email-content">
                                    <p>
                                        Please update password with the link below within 30 minutes. <br>
                                        <a th:href="${email_global_web_url}+'/reset-password?otp='+${otp}" target="_blank" th:text="${email_global_web_url}+'/reset-password?otp='+${otp}"></a><br>
                                        After 30 minutes, please request an new OTP email with the link below. <br>
                                        <a th:href="${email_global_web_url}+'/reset-password?init=true&email='+${email_basic_recipient}" target="_blank"
                                           th:text="${email_global_web_url}+'/reset-password?init=true&email='+${email_basic_recipient}"></a>
                                    </p>
                                </div>



                                <div class="email-closing" style="margin-top: 40px">
                                    <p>
                                        Thank you for using <span th:text="${email_global_web_name}">SkyExchange</span>.<br>
                                    </p>

                                    <p>
                                        <span>Yours faithfully, </span><br>
                                        <span th:text="${email_global_web_name}">SkyExchange</span><br>
                                        <a th:href="${email_global_web_url}" target="_blank" th:text="${email_global_web_url}">https://sd01.oss.pccw.com/skyexchange</a><br>
                                    </p>

                                    <p style="margin-bottom: 0">
                                        <span><i>* This is an automatically generated email. Please do not reply to it.</i></span><br>
                                        <span><i>* Should you have further queries, please contact our 24-hours hotline as follows.</i></span><br>
                                    </p>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td style="padding-left:10px"><a th:href="'https://goo.gl/maps/qM2cCjV5QxK2'" target="_blank" >IAC SkyExchange</a></td>
                                            <td style="padding-left:10px">Tel: <a th:href="'tel:2888-2635'" target="_blank" th:text="'2888-2635'"></a></td>
                                            <td style="padding-left:10px">Fax: <a th:href="'tel:2107-4933'" target="_blank" th:text="'2107-4933'"></a></td>
                                            <td style="padding-left:10px">Email: <a th:href="'mailto:pccwnfmiac@pccw.com'" target="_blank" th:text="'pccwnfmiac@pccw.com'"></a></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:10px"><a th:href="'https://goo.gl/maps/7Lb3BVpjsZy'" target="_blank">JBY SkyExchange</a></td>
                                            <td style="padding-left:10px">Tel: <a th:href="'tel:2883-5483'" th:text="'2883-5483'"></a></td>
                                            <td style="padding-left:10px">Fax: <a th:href="'tel:2623-5217'" th:text="'2623-5217'"></a></td>
                                            <td style="padding-left:10px">Email: <a th:href="'mailto:pccwnfmjby@pccw.com'" th:text="'pccwnfmjby@pccw.com'"></a></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:10px"><a th:href="'https://goo.gl/maps/aGWfXg5rMgo'" target="_blank">LKT SkyExchange</a></td>
                                            <td style="padding-left:10px">Tel: <a th:href="'tel:2883-2299'" th:text="'2883-2299'"></a></td>
                                            <td style="padding-left:10px">Fax: <a th:href="'tel:2527-7868'" th:text="'2527-7868'"></a></td>
                                            <td style="padding-left:10px">Email: <a th:href="'mailto:pccwnfmlkt@pccw.com'" th:text="'pccwnfmlkt@pccw.com'"></a></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:10px"><a th:href="'https://goo.gl/maps/wN9pGLL7E8z'" target="_blank">VTA SkyExchange</a></td>
                                            <td style="padding-left:10px">Tel: <a th:href="'tel:2883-2717'" th:text="'2883-2717'"></a></td>
                                            <td style="padding-left:10px">Fax: <a th:href="'tel:2167-8897'" th:text="'2167-8897'"></a></td>
                                            <td style="padding-left:10px">Email: <a th:href="'mailto:pccwnfmvta@pccw.com'" th:text="'pccwnfmvta@pccw.com'"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <table border="0" cellspacing="0" cellpadding="0" style="width:100%; color:#6c757d; background-color: #ffffff; text-align: center">
                <tbody>
                <tr height="10px" style="height: 10px"></tr>
                <tr>
                    <td width="50%" style="width: 50%; padding-top: 10px">
                        <img style="height: 37px; margin: 0 auto" th:src="'cid:'+${email_global_logo_hkt_cid}" alt="logo-footer-hkt">
                    </td>
                    <td  width="50%" style="width: 50%; padding-top: 10px">
                        <img style="height: 12px; margin: 0 auto" th:src="'cid:'+${email_global_logo_pccw_grp_cid}" alt="logo-footer-pccw">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <small>
                            <a href="https://www.hkt.com/Privacy+Statement?language=en_US" target="_blank">Privacy Statement</a>
                            <span> | </span>
                            <a href="https://www.hkt.com/Terms+of+use?language=en_US" target="_blank">Terms of Use</a>
                        </small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <small><i>&copy; Hong Kong Telecommunications (HKT) Limited 2019. All Rights Reserved.</i></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <small><i>(HKT Limited is a company incorporated in the Cayman Islands with limited liability)</i></small>
                    </td>
                </tr>
                </tbody>
            </table>



        </td></tr>
        </tbody></table>
</div>
</body>
</html>