<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body style="margin: 0; padding: 0;">
<div style="margin:0;padding:10px;text-align:justify">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f8f9fa">
<tbody><tr><td align="center" valign="top">

    <!--/*@thymesVar id="email_basic_recipient_name" type="java.lang.String"*/-->
    <!--/*@thymesVar id="email_basic_recipient" type="java.lang.String"*/-->

    <!--/*@thymesVar id="email_global_web_url" type="java.lang.String"*/-->
    <!--/*@thymesVar id="email_global_web_name" type="java.lang.String"*/-->
    <!--/*@thymesVar id="email_global_logo_cid" type="java.lang.String"*/-->
    <!--/*@thymesVar id="email_global_logo_hkt_cid" type="java.lang.String"*/-->
    <!--/*@thymesVar id="email_global_logo_pccw_grp_cid" type="java.lang.String"*/-->

    <!--/*@thymesVar id="otp" type="java.lang.String"*/-->


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff;">
    <tbody>
        <tr>
            <td width="100%" height="80" style="height:80px; padding: 5px">
                <img height="60" style="height:60px;" th:src="'cid:'+${email_global_logo_cid}" alt="logo-header-sky-exchange">
            </td>
        </tr>
    </tbody>
</table>

<div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <div style="margin:20px">
                        <div class="email-opening" style="margin-bottom: 40px">
                            <p>
                                Dear
                                <span th:if="${#strings.isEmpty(email_basic_recipient_name)}"> Valued Customer,</span>
                                <span th:if="!${#strings.isEmpty(email_basic_recipient_name)}" th:text="${email_basic_recipient_name}+','"></span>
                            </p>
                        </div>



                        <div class="email-content">
                            <span th:text="|New account : ${newAccount}|">User Name: username</span>
                            <p>
                                Please reset your password with the link below within 30 minutes. <br>
                                <a th:href="${email_global_web_url}+'/reset-password?otp='+${otp}" target="_blank" th:text="${email_global_web_url}+'/reset-password?otp='+${otp}"></a><br>
                            </p>
                        </div>



                        <div class="email-closing" style="margin-top: 40px">
                            <p>
                                Thank you for using <span th:text="${email_global_web_name}">SkyExchange</span>.<br>
                            </p>

                            <p>
                                <span>Yours faithfully, </span><br>
                                <span th:text="${email_global_web_name}">SkyExchange</span><br>
                                <a th:href="${email_global_web_url}" target="_blank" th:text="${email_global_web_url}">https://sd01.oss.pccw.com/skyexchange</a><br>
                            </p>

                            <p style="margin-bottom: 0">
                                <span><i>* This is an automatically generated email. Please do not reply to it.</i></span><br>
                            </p>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<table border="0" cellspacing="0" cellpadding="0" style="width:100%; color:#6c757d; background-color: #ffffff; text-align: center">
    <tbody>
    <tr height="10px" style="height: 10px"></tr>
    <tr>
        <td width="50%" style="width: 50%; padding-top: 10px">
            <img style="height: 37px; margin: 0 auto" th:src="'cid:'+${email_global_logo_hkt_cid}" alt="logo-footer-hkt">
        </td>
        <td  width="50%" style="width: 50%; padding-top: 10px">
            <img style="height: 12px; margin: 0 auto" th:src="'cid:'+${email_global_logo_pccw_grp_cid}" alt="logo-footer-pccw">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <small>
                <a href="https://www.hkt.com/Privacy+Statement?language=en_US" target="_blank">Privacy Statement</a>
                <span> | </span>
                <a href="https://www.hkt.com/Terms+of+use?language=en_US" target="_blank">Terms of Use</a>
            </small>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <small><i>&copy; Hong Kong Telecommunications (HKT) Limited 2019. All Rights Reserved.</i></small>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <small><i>(HKT Limited is a company incorporated in the Cayman Islands with limited liability)</i></small>
        </td>
    </tr>
    </tbody>
</table>



</td></tr>
</tbody></table>
</div>
</body>
</html>