<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <h1>Edit Company</h1>

        <form class="row" th:id="edit-company-form" th:object="${editCompanyData}">
            <div class="col-md-12">
                <div class="d-inline-block col-md-5 form-group">
                    <label>Company ID</label>
                    <input type="text" th:id="companyId" th:field="*{companyId}" class="form-control" placeholder="Company ID" readonly>

                    <label>Name</label>
                    <input type="text" th:id="companyName" th:field="*{name}" class="form-control" placeholder="Company Name" maxlength="100" >

                    <label>Remarks</label>
                    <input type="text" th:id="companyRemarks" th:field="*{remarks}" class="form-control" placeholder="(optional)" maxlength="250" >
                </div>
            </div>

            <div class="col-md-12">
                <div class="d-inline-block col-md-5 form-group">
                    <button th:id="btn-update-companyName" type="submit" class="btn btn-lg btn-primary float-right"><i class="far fa-save"></i> Save</button>
                </div>
            </div>
        </form>

        <script type="text/javascript" th:src="@{/js/editCompanyForm.js}"></script>
    </div>
</body>
</html>