<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Non PCCW/HKT User</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>Create Non PCCW/HKT User</h1>

    <form class="row" th:action="@{/admin/manage-user/create-non-pccw-hkt-user}" th:object="${createUserFormData}" method="post">
        <div class="col-md-12">
            <div class="d-inline-block col-md-5 form-group align-top">
                <label>Email</label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="your-email@pccw.com" maxlength="50" required>

                <label>Name</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Your Name" maxlength="100" required>

                <label>UserName(Login Id)</label>
                <input type="text" th:field="*{userId}" class="form-control" placeholder="Your User Name" maxlength="8">

                <label>Mobile</label>
                <input type="tel" th:field="*{mobile}" class="form-control" placeholder="28832299" maxlength="15" required>

                <label>User Role</label>
                <div class="d-block">
                    <div class="form-check form-check-inline" th:each="userRole : ${userRoleOptionDataMap}" >
                        <input class="form-check-input" th:field="*{userRoleIdList}" type="checkbox" th:value="${userRole.value.getRoleId()}">
                        <label class="form-check-label" th:text="${userRole.value.roleDesc}"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-inline-block col-md-10 form-group">
                <button type="submit" class="btn btn-lg btn-primary float-right"><i class="fab fa-telegram-plane"></i> Submit</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/createUser.js}"></script>
</div>
</body>
</html>