<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>Edit User</h1>

    <form th:id="editUserForm" class="row">
        <div class="col-md-12">
            <div class="d-inline-block col-md-5 form-group">
                <label>User ID</label>
                <input th:id="edit-user-id" th:attr="value = ${editUserId}" type="text" class="form-control" readonly>

                <label>Email</label>
                <input th:id="edit-email" type="email" class="form-control" readonly>

                <label>Name</label>
                <input th:id="edit-name" type="text" class="form-control" maxlength="100" required>

                <label>Mobile</label>
                <input th:id="edit-mobile" type="tel" class="form-control" maxlength="15" required>
            </div>

            <div class="d-inline-block col-md-5 form-group">
                <label>Status</label>
                <input th:id="edit-status" type="text" class="form-control" readonly>

                <label class="emailUserInfo">Login Tried</label>
                <input th:id="edit-login-tried" type="number" class="form-control" readonly>

                <label class="emailUserInfo">Password Modify Date</label>
                <input th:id="edit-password-modify-date" type="text" class="form-control" readonly>

                <label class="ldapUserInfo">LDAP Domain</label>
                <input th:id="edit-ldap-domain" type="text" class="form-control" readonly>
            </div>

            <div class="d-inline-block col-md-5 form-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        Change User Type
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a class="dropdown-item"
                               th:href="@{/admin/manage-user/edit-user/changeUserType/pccw-hkt-user(userId=${editUserId})}">PCCW/HKT
                            User</a></li>
                        <li><a class="dropdown-item"
                               th:href="@{/admin/manage-user/edit-user/changeUserType/ldap-user(userId=${editUserId})}">LDAP
                            User</a></li>
                    </ul>
                </div>
            </div>

            <div class="d-inline-block col-md-5 form-group">
                <label>User Role</label>
                <div class="d-block">
                    <div class="form-check form-check-inline" th:each="userRole : ${userRoleOptionDataMap}">
                        <input class="form-check-input" type="checkbox" name="userRoleId"
                               th:value="${userRole.value.getRoleId()}"
                               th:attr="checked=${userRoleList!=null?(userRoleList.contains(userRole.value.getRoleId())?true:false): false}">
                        <label class="form-check-label" th:text="${userRole.key}"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-inline-block col-md-10 form-group">
                <button th:id="btnActivateUser" class="btn btn-lg btn-success float-left mr-sm-2" type="button"><i
                        class="fas fa-check-circle"></i> Activate
                </button>
                <button th:id="btnDeactivateUser" class="btn btn-lg btn-danger float-left mr-sm-2" type="button"><i
                        class="fas fa-times-circle"></i> Deactivate
                </button>
                <button th:id="btnUpdateUser" class="btn btn-lg btn-primary float-right mr-sm-2" type="button"><i
                        class="far fa-save"></i> Save
                </button>
            </div>
        </div>
    </form>

    <script type="text/javascript" th:src="@{/js/editUserForm.js}"></script>
</div>
</body>
</html>