<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search User</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <form th:id="search-user-form" class="form-inline">
        <input th:id="user-search-user-id" type="text" class="form-control mb-2 mr-sm-2" placeholder="User ID">
        <input th:id="user-search-email" type="text" class="form-control mb-2 mr-sm-2" placeholder="Email">
        <input th:id="user-search-name" type="text" class="form-control mb-2 mr-sm-2" placeholder="Name">
        <button type="submit" class="btn btn-lg btn-primary mb-2"><i class="fas fa-search"></i> Search</button>
    </form>

    <h1>User Search Result List</h1>
    <table id="searchUserTable" class="display">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Status</th>
                <th><!--edit user link--></th>
            </tr>
        </thead>

        <tbody></tbody>

        <tfoot>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Status</th>
                <th><!--edit user link--></th>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript" th:src="@{/js/searchUser.js(v=${projectBuildtime})}"></script>
</div>
</body>
</html>