<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/hideShowPassword/hideShowPassword.css}"/>
</head>
<body style="background-color: #f1f1f1!important;">
<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <div id="loginDiv" class="col-md-4 offset-md-8">
            <form class="row" th:action="@{/login}" method="post">
                <div class="d-inline-block col-md-12 form-group">
                    <label for="username">Username</label>:
                    <input type="text" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="Username">

                    <label for="password">Password</label>:
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                </div>

                <div class="d-inline-block col-md-12 form-group">
                    <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-info" value="Login">
                </div>
            </form>
        </div>
    </div>
<script type="text/javascript" th:src="@{/lib/hideShowPassword/hideShowPassword.min.js}"></script>
<script>
    $('#password').hideShowPassword(false, 'focus', {
        toggle: {
            className: 'my-toggle',
            attr: {
                role: 'button',
                'aria-label': 'Show Password',
                title: 'Show Password',
                tabIndex: 0,
                id : 'showHidePwdBtn'
            }
        }
    });


    let tid;
    let btn = window.document.getElementById("showHidePwdBtn");
    btn.onclick = function(e){};
    btn.onmousedown = function(e){
        tid = setInterval(function(){
            $('#password').hideShowPassword(true);
        },500);
    };
    btn.onmouseup = function(e){
        $('#password').hideShowPassword(false);
        clearInterval(tid);
    }
    btn.onmouseout = function(e){
        $('#password').hideShowPassword(false);
        clearInterval(tid)
    }
</script>
</div>
</body>
</html>