<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">
<head>
    <title>Servicedesk - Init/Reset Password</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1 th:if="${isInit}">Initialize Password</h1>
    <h1 th:unless="${isInit}">Reset Password</h1>

    <div th:if="${#strings.isEmpty(resetPwdFormData.resetOtp)}" th:remove="tag">
        <h2>Get OTP Email</h2>
        <form th:id="request-pwd-otp-form" th:object="${resetPwdFormData}">
            <div class="col-md-6">
                <div class="form-group">
                    <label>LoginID</label>
                    <input th:if="${#strings.isEmpty(otpEmail)}" th:id="name" type="text" class="form-control" placeholder="(login id)" required >
                    <input th:unless="${#strings.isEmpty(otpEmail)}" th:id="name" type="text" class="form-control" th:attr="value = ${otpEmail}" readonly >
                </div>

                <button th:if="${#strings.isEmpty(otpEmail)}" th:id="btn-request-pwd-otp" type="submit" class="btn btn-lg btn-primary"><i class="fab fa-telegram-plane"></i> Send</button>
                <button th:unless="${#strings.isEmpty(otpEmail)}" th:id="btn-request-pwd-otp" type="submit" class="btn btn-lg btn-primary"><i class="fab fa-telegram-plane"></i> Resent</button>

            </div>
        </form>
    </div>

    <div th:unless="${#strings.isEmpty(resetPwdFormData.resetOtp)}" th:remove="tag">
        <h2>Update Password</h2>
        <form th:id="reset-pwd-form" action="#" th:object="${resetPwdFormData}">
            <div class="col-md-6">
                <div class="form-group">
                    <label>OTP</label>
                    <input th:if="${#strings.isEmpty(resetPwdFormData.resetOtp)}" th:id="resetOtp" type="text" class="form-control" placeholder="OTP" th:field="*{resetOtp}" required>
                    <input th:unless="${#strings.isEmpty(resetPwdFormData.resetOtp)}" th:id="resetOtp" type="text" class="form-control" placeholder="OTP" th:field="*{resetOtp}" readonly>

                    <label>New Password</label>
                    <input th:id="newPassword" type="password" class="form-control" placeholder="New Password" required>
                    <input th:id="newPasswordRe" type="password" class="form-control" placeholder="New Password (re-enter)" required>
                </div>

                <button th:id="btn-reset-pwd" type="submit" class="btn btn-lg btn-primary"><i class="fab fa-telegram-plane"></i> Submit</button>
            </div>
        </form>

        <div th:id="go-login-page" class="col-md-6" style="display: none">
            <a class="btn btn-lg btn-info" th:href="@{/login}" role="button"><i class="fas fa-home"> Go Login</i></a>
        </div>
    </div>


    <script type="text/javascript" th:src="@{/js/resetPassword.js(v=${projectBuildtime})}"></script>
</div>
</body>
</html>