<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Request</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1 class="row">Access Request</h1>

    <form class="row" th:object="${accessRequestData}">
        <div class="col-md-12">
            <div class="d-inline-block col-md-5 form-group">
                <label>Ticket Number</label>
                <input th:id="target-request-id" type="text" th:attr="value = ${targetHashedRequestId}" class="form-control" readonly>
            </div>
            <div class="d-inline-block col-md-5 form-group">
                <label>Status</label>
                <input th:id="request-status" type="text" class="form-control" readonly>
            </div>
        </div>

        <h2>Details of Requestor</h2>
        <div class="col-md-12">
            <div class="d-inline-block col-md-5 form-group">
                <label>Requestor ID</label>
                <input th:id="requestor-id" type="text" class="form-control" readonly>

                <label>Name of Requestor</label>
                <input th:id="requestor-name" type="text" class="form-control" readonly>
                <label>Company Name</label>
                <input th:id="requestor-company-name" type="text" class="form-control" readonly>
            </div>
            <div class="d-inline-block col-md-5 form-group">
                <label>Mobile</label>
                <input th:id="requestor-email" type="tel" th:field="*{mobile}" class="form-control" readonly>

                <label>Email (Login ID)</label>
                <input th:id="requestor-mobile" type="email" th:field="*{email}" class="form-control" readonly>
            </div>
        </div>

        <h2>Details of Visit</h2>
        <div class="col-md-12">
            <div class="d-inline-block col-md-10 form-group">
                <label>Visit Reason</label>
                <input th:id="request-visit-reason" type="text" class="form-control" readonly>
            </div>
            <div class="d-inline-block col-md-5 form-group align-top">
                <label>Visit Date</label>
                <input th:id="request-visit-date" type="date" class="form-control" readonly>

                <label>From</label>
                <input th:id="request-visit-time-from" type="time" class="form-control" readonly>

                <label>To</label>
                <input th:id="request-visit-time-to" type="time" class="form-control" readonly>
            </div>
            <div class="d-inline-block col-md-5 form-group align-top">
                <label>Visit Location</label>
                <input th:id="request-visit-loc" type="text" class="form-control" readonly>

                <label>Rack Num.</label>
                <input th:id="request-visit-rack" type="text" class="form-control" readonly>
            </div>
        </div>

        <h2>Details of Visitor</h2>
        <div class="col-md-12">
            <table th:id="request-visitor-table" class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Visitor ID</th>
                    <th>Name</th>
                    <th>Company/Section</th>
                    <th>* Visitor's ID</th>
                    <th>Mobile</th>
                    <th>Visitor Card No.</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                </tr>
                </thead>
                <tbody class="table-striped"></tbody>
            </table>
            <div style="padding-left: 20px">* Visitor's ID: Staff ID / HKID / Passport Number (first 4 digits)</div>
        </div>

        <h2>Details of Equipment</h2>
        <div class="col-md-12">
            <table th:id="request-equip-table" class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Brand</th>
                    <th>Type</th>
                    <th>Model</th>
                    <th>Serial Num</th>
                    <th>Rack#</th>
                    <th>U#</th>
                    <th>In/Out</th>
                </tr>
                </thead>
                <tbody class="table-striped"></tbody>
            </table>
        </div>

        <h2>Operation History</h2>
        <div class="col-md-12">
            <table th:id="request-opt-hist-table" class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>User ID</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </form>

    <script type="text/javascript" th:src="@{/js/processAccessRequest.js}"></script>
</div>
</body>
</html>