<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdAuditTrailMapper" >

    <insert id="insertAuditTrail" useGeneratedKeys="true" >
        insert into AUDIT_TRAIL (AUDIT_ID,USER_ID, ACTION, DETAIL)
        values (SEQ_AUDIT_TRAIL_ID.nextval,#{userId}, #{action}, #{detail})
    </insert>

    <delete id="houseKeep" >
        delete AUDIT_TRAIL
        where trunc(CREATEDATE) &lt;= trunc(last_day(ADD_MONTHS(sysdate, -13)))
    </delete>

    <delete id="cleanAuditTrail" >
        delete AUDIT_TRAIL
        where trunc(CREATEDATE) &lt;= trunc(last_day(ADD_MONTHS(sysdate, -25)))
    </delete>

</mapper>
