<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdPublicHolidayMapper">

    <resultMap id="PublicHolidayEntity" type="com.hkt.btu.sd.core.dao.entity.SdPublicHolidayEntity" >
        <result column="PUBLIC_HOLIDAY" property="publicHoliday" />
        <result column="DESCRIPTION" property="description" />
    </resultMap>

    <select id="getPublicHolidayList" resultMap="PublicHolidayEntity">
        SELECT * FROM PUBLIC_HOLIDAY
        <where>
            <if test="year != null and year != ''">
                #{year} = TO_CHAR(PUBLIC_HOLIDAY, 'yyyy')
            </if>
        </where>
        ORDER BY PUBLIC_HOLIDAY
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="countPublicHoliday" resultType="Integer">
        SELECT count(1) FROM PUBLIC_HOLIDAY
        <where>
            <if test="year != null and year != ''">
                #{year} = TO_CHAR(PUBLIC_HOLIDAY, 'yyyy')
            </if>
        </where>
    </select>

    <select id="getAllPublicHolidayList" resultMap="PublicHolidayEntity">
        SELECT * FROM PUBLIC_HOLIDAY ORDER BY PUBLIC_HOLIDAY
    </select>

    <insert id="insertPublicHoliday" parameterType="java.util.List">
        INSERT INTO PUBLIC_HOLIDAY
        (PUBLIC_HOLIDAY, DESCRIPTION)
         <foreach collection="entityList" item="ph" index="index" separator="union all">
             (
             SELECT
             #{ph.publicHoliday},
             #{ph.description}
             FROM DUAL
             )
         </foreach>
    </insert>

</mapper>
