<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdSqlReportMapper">
    <resultMap id="BtuReportProfileEntity" type="com.hkt.btu.common.core.dao.entity.BtuReportProfileEntity">
        <result column="REPORT_ID" property="reportId"/>
        <result column="REPORT_NAME" property="reportName"/>
        <result column="CRON_EXP" property="cronExp"/>
        <result column="STATUS" property="status"/>
        <result column="SQL" property="sql"/>
        <result column="EMAIL_TO" property="emailTo"/>

        <result column="CREATEDATE" property="createdate"/>
        <result column="CREATEBY" property="createby"/>
        <result column="MODIFYDATE" property="modifydate"/>
        <result column="MODIFYBY" property="modifyby"/>
        <result column="REMARKS" property="remarks"/>
    </resultMap>

    <select id="getReportProfile" resultMap="BtuReportProfileEntity">
        select * from SQL_REPORT
        <where>
            <if test="reportId != null">
                REPORT_ID = #{reportId}
            </if>
            <if test="reportName != null">
                REPORT_NAME = #{reportName}
            </if>
        </where>
    </select>

    <select id="queryWithSql" parameterType="String" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>

    <delete id="deleteSqlReportDataByReportId">
        delete
        from SQL_REPORT
        where REPORT_ID = #{reportId}
    </delete>

    <insert id="createSqlReport" parameterType="com.hkt.btu.common.core.dao.entity.BtuReportProfileEntity">
        <selectKey keyProperty="reportId" resultType="string" order="BEFORE">
            SELECT SEQ_SQL_REPORT_REPORT_ID.nextval FROM DUAL
        </selectKey>
        insert into SQL_REPORT(REPORT_ID,REPORT_NAME, CRON_EXP, STATUS, SQL, EMAIL_TO, CREATEBY, MODIFYBY,
        REMARKS)
        VALUES (#{reportId},#{reportName}, #{cronExp}, #{status}, #{sql}, #{emailTo}, #{createby},
        #{modifyby}, #{remarks})
    </insert>

    <update id="updateReportData">
        update SQL_REPORT
        <set>
            <if test="reportName != null">REPORT_NAME = #{reportName},</if>
            <if test="sql != null">SQL = #{sql},</if>
            <if test="status !=null">STATUS = #{status},</if>
            <if test="remarks != null">REMARKS = #{remarks},</if>
            <if test="emailTo != null">EMAIL_TO=#{emailTo},</if>
            <if test="cronExp != null">CRON_EXP=#{cronExp},</if>
            <if test="modifyBy != null">MODIFYBY=#{modifyBy},</if>
            MODIFYDATE = SYSDATE
        </set>
        where REPORT_ID = #{reportId}
    </update>
</mapper>