<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdSymptomMapper" >
    <resultMap id="SymptomEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomEntity" >
        <result column="SYMPTOM_CODE" property="symptomCode" />
        <result column="SYMPTOM_DESCRIPTION" property="symptomDescription" />
        <result column="SYMPTOM_GROUP_CODE" property="symptomGroupCode" />
        <result column="SYMPTOM_GROUP_NAME" property="symptomGroupName" />

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
    </resultMap>

    <resultMap id="SymptomMappingEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomMappingEntity" >
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode" />
        <result column="SYMPTOM_GROUP_CODE" property="symptomGroupCode" />

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
    </resultMap>

    <select id="getSymptomGroupList" resultMap="SymptomEntity">
        SELECT SYMPTOM_GROUP_CODE,SYMPTOM_GROUP_NAME
        FROM SYMPTOM_GROUP
        GROUP BY SYMPTOM_GROUP_CODE,SYMPTOM_GROUP_NAME
        ORDER BY SYMPTOM_GROUP_CODE
    </select>

    <insert id="createSymptom">
        insert into symptom (SYMPTOM_CODE,SYMPTOM_DESCRIPTION,SYMPTOM_GROUP_CODE,CREATEBY,MODIFYBY)
        values (#{symptomCode},#{symptomDescription},#{symptomGroupCode},#{createby},#{createby})
    </insert>

    <insert id="createSymptomMapping">
        INSERT ALL
        <foreach item="serviceType" index="index" collection="serviceTypeList">
            INTO SYMPTOM_MAPPING (SERVICE_TYPE_CODE,SYMPTOM_CODE,CREATEBY) VALUES (#{serviceType},#{symptomCode},#{createby})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <select id="getSymptomMapping" resultMap="SymptomMappingEntity">
        select * from SYMPTOM_MAPPING where SYMPTOM_CODE = #{symptomCode}
    </select>

    <delete id="deleteSymptomMapping">
        delete from SYMPTOM_MAPPING where SYMPTOM_CODE = #{symptomCode}
        and SERVICE_TYPE_CODE in
        <foreach item="serviceType" index="index" collection="serviceTypeList" open="(" separator="," close=")">
            #{serviceType}
        </foreach>
    </delete>

    <select id="getSymptomBySymptomCode" resultMap="SymptomEntity">
        select
        sy.SYMPTOM_CODE,
        sy.SYMPTOM_DESCRIPTION,
        sy.SYMPTOM_GROUP_CODE,
        sg.SYMPTOM_GROUP_NAME,
        sy.CREATEDATE,
        sy.CREATEBY,
        sy.MODIFYDATE,
        sy.MODIFYBY
        from SYMPTOM sy
        inner join SYMPTOM_GROUP sg on sy.SYMPTOM_GROUP_CODE = sg.SYMPTOM_GROUP_CODE
        where sy.SYMPTOM_CODE = #{symptomCode}
        order by sy.SYMPTOM_CODE
    </select>

    <sql id="searchSymptomSql">
        from SYMPTOM sy
        inner join SYMPTOM_GROUP sg
            on sy.SYMPTOM_GROUP_CODE = sg.SYMPTOM_GROUP_CODE
        <where>
            <if test="symptomGroupCode != null and symptomGroupCode != ''">
                and lower(sy.SYMPTOM_GROUP_CODE) like '%' || lower(#{symptomGroupCode}) || '%'
            </if>
            <if test="symptomDescription != null and symptomDescription != ''">
                and lower(sy.SYMPTOM_DESCRIPTION) like '%' || lower(#{symptomDescription}) || '%'
            </if>
        </where>
    </sql>

    <select id="searchSymptomList" resultMap="SymptomEntity" parameterType="com.hkt.btu.sd.core.dao.entity.SdSymptomEntity">
        select
        sy.SYMPTOM_CODE,
        sy.SYMPTOM_DESCRIPTION,
        sy.SYMPTOM_GROUP_CODE,
        sg.SYMPTOM_GROUP_NAME,
        sy.CREATEDATE,
        sy.CREATEBY,
        sy.MODIFYDATE,
        sy.MODIFYBY
        <include refid="searchSymptomSql"/>
        order by
        <foreach item="sort" collection="sortList" separator="," index="index">
            <if test="sortList[index].column != null">
                <choose>
                <when test="sortList[index].column == 'symptomCode'.toString() ">
                    SYMPTOM_CODE ${sort.dir}
                </when>
                <when test="sortList[index].column == 'symptomDescription'.toString()">
                    SYMPTOM_DESCRIPTION ${sort.dir}
                </when>
                <when test="sortList[index].column == 'symptomGroup'.toString()">
                    SYMPTOM_GROUP_CODE ${sort.dir}
                </when>
                <when test="sortList[index].column == 'modifydate'.toString()">
                    MODIFYDATE ${sort.dir}
                </when>
                <when test="sortList[index].column == 'modifyby'.toString()">
                    MODIFYBY ${sort.dir}
                </when>
                <otherwise>
                    SYMPTOM_CODE
                </otherwise>
                </choose>
            </if>
        </foreach>
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="searchSymptomCount" resultType="Integer">
        select count(1)
        <include refid="searchSymptomSql"/>
    </select>

    <update id="updateSymptom">
        update SYMPTOM set SYMPTOM_CODE = #{symptomCode},
        SYMPTOM_GROUP_CODE = #{symptomGroupCode},
        SYMPTOM_DESCRIPTION = #{symptomDescription},
        MODIFYBY = #{createby},
        MODIFYDATE = sysdate
        where SYMPTOM_CODE = #{oldSymptomCode}
    </update>

    <select id="getAllSymptomList" resultMap="SymptomEntity">
        select *
        from SYMPTOM sy
        inner join SYMPTOM_GROUP sg
            on sy.SYMPTOM_GROUP_CODE = sg.SYMPTOM_GROUP_CODE
        order by sy.SYMPTOM_CODE
    </select>
</mapper>
