<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdSymptomMapper" >
    <resultMap id="SymptomEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomEntity" >
        <result column="SYMPTOM_CODE" property="symptomCode" />
        <result column="SYMPTOM_DESCRIPTION" property="symptomDescription" />
        <result column="SYMPTOM_GROUP_CODE" property="symptomGroupCode" />
        <result column="SYMPTOM_GROUP_NAME" property="symptomGroupName" />

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
    </resultMap>

    <resultMap id="SymptomMappingEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomMappingEntity" >
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode" />
        <result column="SYMPTOM_CODE" property="symptomCode" />

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
    </resultMap>

    <resultMap id="SymptomWorkingPartyMappingEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomWorkingPartyMappingEntity" >
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode" />
        <result column="SYMPTOM_CODE" property="symptomCode" />
        <result column="WORKINGPARTY" property="workingParty" />
    </resultMap>

    <resultMap id="SdSymptomCodePerfixEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomCodePerfixEntity">
        <result column="SYMPTOM_GROUP_CODE" property="symptomGroupCode"/>
        <result column="SYMPTOM_CODE_PREFIX" property="symtomCodePrefix"/>
    </resultMap>

    <resultMap id="SymptomGroupRoleMappingEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomGroupRoleMappingEntity">
        <result column="SYMPTOM_GROUP_CODE" property="symptomGroupCode"/>
        <result column="ROLE_ID" property="roleId"/>
    </resultMap>

    <resultMap id="SymptomGroupEntity" type="com.hkt.btu.sd.core.dao.entity.SdSymptomGroupEntity">
        <result column="SYMPTOM_GROUP_CODE" property="symptomGroupCode"/>
        <result column="SYMPTOM_GROUP_NAME" property="symptomGroupName"/>
        <collection property="roleList" column="SYMPTOM_GROUP_CODE" javaType="ArrayList"
                    ofType="com.hkt.btu.sd.core.dao.entity.SdSymptomGroupRoleMappingEntity"
                    select="com.hkt.btu.sd.core.dao.mapper.SdSymptomMapper.getSymptomGroupRoleMappingByCode">
            <result column="SYMPTOM_GROUP_CODE" property="symptomGroupCode"/>
            <result column="ROLE_ID" property="roleId"/>
        </collection>
    </resultMap>

    <select id="getSymptomGroupList" resultMap="SymptomEntity">
        SELECT SYMPTOM_GROUP_CODE,SYMPTOM_GROUP_NAME
        FROM SYMPTOM_GROUP
        GROUP BY SYMPTOM_GROUP_CODE,SYMPTOM_GROUP_NAME
        ORDER BY SYMPTOM_GROUP_CODE
    </select>

    <insert id="createSymptom">
        insert into symptom (SYMPTOM_CODE,SYMPTOM_DESCRIPTION,SYMPTOM_GROUP_CODE,CREATEBY,MODIFYBY)
        values (#{symptomCode},#{symptomDescription},#{symptomGroupCode},#{createby},#{createby})
    </insert>

    <insert id="createSymptomMapping">
        INSERT ALL
        <foreach item="serviceType" index="index" collection="serviceTypeList">
            INTO SYMPTOM_MAPPING (SERVICE_TYPE_CODE,SYMPTOM_CODE,CREATEBY) VALUES (#{serviceType},#{symptomCode},#{createby})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <select id="getSymptomMapping" resultMap="SymptomMappingEntity">
        select * from SYMPTOM_MAPPING where SYMPTOM_CODE = #{symptomCode}
    </select>

    <delete id="deleteSymptomMapping">
        delete from SYMPTOM_MAPPING where SYMPTOM_CODE = #{symptomCode}
        and SERVICE_TYPE_CODE in
        <foreach item="serviceType" index="index" collection="serviceTypeList" open="(" separator="," close=")">
            #{serviceType}
        </foreach>
    </delete>

    <select id="getSymptomBySymptomCode" resultMap="SymptomEntity">
        select
        sy.SYMPTOM_CODE,
        sy.SYMPTOM_DESCRIPTION,
        sy.SYMPTOM_GROUP_CODE,
        sg.SYMPTOM_GROUP_NAME,
        sy.CREATEDATE,
        sy.CREATEBY,
        sy.MODIFYDATE,
        sy.MODIFYBY
        from SYMPTOM sy
        inner join SYMPTOM_GROUP sg on sy.SYMPTOM_GROUP_CODE = sg.SYMPTOM_GROUP_CODE
        where sy.SYMPTOM_CODE = #{symptomCode}
        order by sy.SYMPTOM_CODE
    </select>

    <sql id="searchSymptomSql">
        from SYMPTOM sy
        inner join SYMPTOM_GROUP sg
            on sy.SYMPTOM_GROUP_CODE = sg.SYMPTOM_GROUP_CODE
        <where>
            <if test="symptomGroupCode != null and symptomGroupCode != ''">
                and lower(sy.SYMPTOM_GROUP_CODE) like '%' || lower(#{symptomGroupCode}) || '%'
            </if>
            <if test="symptomDescription != null and symptomDescription != ''">
                and lower(sy.SYMPTOM_DESCRIPTION) like '%' || lower(#{symptomDescription}) || '%'
            </if>
        </where>
    </sql>

    <select id="searchSymptomList" resultMap="SymptomEntity" parameterType="com.hkt.btu.sd.core.dao.entity.SdSymptomEntity">
        select
        sy.SYMPTOM_CODE,
        sy.SYMPTOM_DESCRIPTION,
        sy.SYMPTOM_GROUP_CODE,
        sg.SYMPTOM_GROUP_NAME,
        sy.CREATEDATE,
        sy.CREATEBY,
        sy.MODIFYDATE,
        sy.MODIFYBY
        <include refid="searchSymptomSql"/>
        order by
        <foreach item="sort" collection="sortList" separator="," index="index">
            <if test="sortList[index].column != null">
                <choose>
                <when test="sortList[index].column == 'symptomCode'.toString() ">
                    SYMPTOM_CODE ${sort.dir}
                </when>
                <when test="sortList[index].column == 'symptomDescription'.toString()">
                    SYMPTOM_DESCRIPTION ${sort.dir}
                </when>
                <when test="sortList[index].column == 'symptomGroup'.toString()">
                    SYMPTOM_GROUP_CODE ${sort.dir}
                </when>
                <when test="sortList[index].column == 'modifydate'.toString()">
                    MODIFYDATE ${sort.dir}
                </when>
                <when test="sortList[index].column == 'modifyby'.toString()">
                    MODIFYBY ${sort.dir}
                </when>
                <otherwise>
                    SYMPTOM_CODE
                </otherwise>
                </choose>
            </if>
        </foreach>
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="searchSymptomCount" resultType="Integer">
        select count(1)
        <include refid="searchSymptomSql"/>
    </select>

    <update id="updateSymptom">
        update SYMPTOM set SYMPTOM_CODE = #{symptomCode},
        SYMPTOM_GROUP_CODE = #{symptomGroupCode},
        SYMPTOM_DESCRIPTION = #{symptomDescription},
        MODIFYBY = #{createby},
        MODIFYDATE = sysdate
        where SYMPTOM_CODE = #{oldSymptomCode}
    </update>

    <select id="getAllSymptomList" resultMap="SymptomEntity">
        select *
        from SYMPTOM sy
        inner join SYMPTOM_GROUP sg
            on sy.SYMPTOM_GROUP_CODE = sg.SYMPTOM_GROUP_CODE
        order by sy.SYMPTOM_CODE
    </select>

    <select id="getSymptomByServiceType" resultMap="SymptomWorkingPartyMappingEntity">
        SELECT swm.* FROM SYMPTOM_WORKINGPARTY_MAPPING swm
        LEFT JOIN SYMPTOM_MAPPING sm ON swm.SYMPTOM_CODE = sm.SYMPTOM_CODE
        LEFT JOIN SERVICE_TYPE st ON swm.SERVICE_TYPE_CODE = st.SERVICE_TYPE_CODE
        WHERE sm.SERVICE_TYPE_CODE = #{serviceType}
        <if test="workingParty != null">
            AND swm.WORKINGPARTY = #{workingParty}
        </if>
    </select>

    <select id="getSymptomByGroupCode" resultMap="SymptomEntity">
        select * from SYMPTOM where SYMPTOM_GROUP_CODE = #{symptomGroupCode} order by SYMPTOM_CODE desc
    </select>


    <select id="getSymptomCodePrefixByGroup" resultMap="SdSymptomCodePerfixEntity">
        select SYMPTOM_GROUP_CODE,SYMPTOM_CODE_PREFIX from SYMPTOM_CODE_PREFIX where SYMPTOM_GROUP_CODE = #{symptomGroupCode}
    </select>

    <insert id="createSymptomGroup">
        insert into SYMPTOM_GROUP(SYMPTOM_GROUP_CODE, SYMPTOM_GROUP_NAME, CREATEBY, MODIFYBY)
        values (#{symptomGroupCode}, #{symptomGroupName}, #{createby}, #{modifyby})
    </insert>

    <insert id="createSymptomGroupRoleMapping">
        insert all
        <foreach item="roleId" collection="roleList" >
            into SYMPTOM_GROUP_ROLE_MAPPING (SYMPTOM_GROUP_CODE, ROLE_ID, CREATEBY, MODIFYBY) values (#{symptomGroupCode}, #{roleId}, #{createby}, #{modifyby})
        </foreach>
        select 1 from DUAL
    </insert>

    <select id="getSymptomGroupRoleMappingByCode" resultMap="SymptomGroupRoleMappingEntity">
        select * from SYMPTOM_GROUP_ROLE_MAPPING where SYMPTOM_GROUP_CODE = #{symptomGroupCode}
    </select>

    <select id="getSymptomGroup" resultMap="SymptomGroupEntity">
        select * from SYMPTOM_GROUP where SYMPTOM_GROUP_CODE = #{symptomGroupCode}
    </select>

    <update id="updateSymptomGroup">
        update SYMPTOM_GROUP set SYMPTOM_GROUP_NAME  = #{symptomGroupName}, MODIFYDATE = sysdate, MODIFYBY = #{modifyby}
        where SYMPTOM_GROUP_CODE = #{symptomGroupCode}
    </update>

    <delete id="delSymptomGroupRoleMappingBatch">
        delete from SYMPTOM_GROUP_ROLE_MAPPING where SYMPTOM_GROUP_CODE = #{symptomGroupCode}
        <if test="roleList != null and roleList.size > 0">
            and ROLE_ID in
            <foreach collection="roleList" item="roleId" open="(" close=")" separator=",">
                #{roleId}
            </foreach>
        </if>
    </delete>

    <delete id="delSymptomGroup">
        delete from SYMPTOM_GROUP where SYMPTOM_GROUP_CODE = #{symptomGroupCode}
    </delete>

    <select id="getSymptomWorkingPartyMappingList" resultMap="SymptomWorkingPartyMappingEntity">
        select * from SYMPTOM_WORKINGPARTY_MAPPING
    </select>

    <insert id="createSymptomWorkingPartyMapping">
        insert into SYMPTOM_WORKINGPARTY_MAPPING(SYMPTOM_CODE, WORKINGPARTY, SERVICE_TYPE_CODE, CREATEBY, MODIFYBY)
        values (#{symptomCode}, #{workingParty}, #{serviceTypeCode}, #{createby}, #{modifyby} )
    </insert>

    <update id="updateSymptomWorkingPartyMapping">
        update SYMPTOM_WORKINGPARTY_MAPPING
        set WORKINGPARTY = #{workingParty}, SERVICE_TYPE_CODE = #{serviceTypeCode}, MODIFYDATE = sysdate, MODIFYBY = #{modifyby}
        where SYMPTOM_CODE = #{symptomCode}
    </update>

    <select id="getSymptomWorkingPartyMapping" resultMap="SymptomWorkingPartyMappingEntity">
        select * from SYMPTOM_WORKINGPARTY_MAPPING where SYMPTOM_CODE = #{symptomCode}
    </select>

    <delete id="delSymptomWorkingPartyMapping">
        delete SYMPTOM_WORKINGPARTY_MAPPING where SYMPTOM_CODE = #{symptomCode}
    </delete>
</mapper>
