<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdTicketMasMapper" >
    <resultMap id="TicketMasEntity" type="com.hkt.btu.sd.core.dao.entity.SdTicketMasEntity" >
        <result column="TICKET_MAS_ID" property="ticketMasId" />
        <result column="CUST_CODE" property="custCode" />
        <result column="TICKET_TYPE" property="ticketType" />
        <result column="STATUS" property="status" />
        <result column="APPOINTMENT_DATE" property="appointmentDate" />
        <result column="ASAP" property="asap" />
        <result column="CALL_IN_COUNT" property="callInCount"/>
        <result column="SEARCH_KEY" property="searchKey"/>
        <result column="SEARCH_VALUE" property="searchValue"/>

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
    </resultMap>

    <insert id="insertQueryTicket" parameterType="com.hkt.btu.sd.core.dao.entity.SdTicketMasEntity">
        <selectKey keyProperty="ticketMasId" order="BEFORE" resultType="Integer">
            select SEQ_TICKET_MAS_ID.NEXTVAL from dual
        </selectKey>
        insert into TICKET_MAS (TICKET_MAS_ID,CUST_CODE,TICKET_TYPE,STATUS,CREATEBY,MODIFYBY,CALL_IN_COUNT,SEARCH_KEY,SEARCH_VALUE)
        values(#{ticketMasId},#{custCode},'QUERY','O',#{createby},#{createby},#{callInCount},#{searchKey},#{searchValue})
    </insert>

    <select id="findTicketById" resultMap="TicketMasEntity">
        select * from TICKET_MAS where TICKET_MAS_ID = #{ticketId}
    </select>

    <sql id="searchTicketSql">
        from TICKET_MAS
        where 1=1
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="dateFrom != null">
            and trunc(createdate) &gt;= to_date(#{dateFrom},'yyyy-MM-dd')
        </if>
        <if test="dateTo != null">
            and to_date(#{dateTo},'yyyy-MM-dd') >= trunc(createdate)
        </if>
        <if test="ticketMasId != null">
            and ticket_mas_id = #{ticketMasId}
        </if>
        <if test="custCode != null">
            and cust_code =#{custCode}
        </if>
        <if test="createBy != null">
            and CREATEBY = #{createBy}
        </if>
    </sql>

    <select id="searchTicketList" resultMap="TicketMasEntity">
        select *
        <include refid="searchTicketSql"/>
        order by TICKET_MAS_ID
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="searchTicketCount" resultType="Integer">
        select count(1)
        <include refid="searchTicketSql"/>
    </select>

    <select id="getMyTicket" resultMap="TicketMasEntity">
        select * from TICKET_MAS
        where CREATEBY = #{createBy}
        order by TICKET_MAS_ID desc
    </select>

    <update id="updateAppointmentInMas">
        update TICKET_MAS
        set APPOINTMENT_DATE =#{appointmentDate},
        ASAP =#{asap},
        MODIFYBY= #{userId},
        MODIFYDATE=sysdate
        where TICKET_MAS_ID =#{ticketMasId}
    </update>

    <update id="updateTicketStatus">
        update TICKET_MAS
        <set >
            status = #{status},
            MODIFYBY= #{userId},
            MODIFYDATE=sysdate,
            <if test="status == 'CP'">
                COMPLETE_DATE = sysdate
            </if>
        </set>
        where TICKET_MAS_ID =#{ticketMasId}
    </update>

    <select id="getTicketByServiceNo" resultMap="TicketMasEntity">
        SELECT tm.TICKET_MAS_ID,tm.STATUS
        FROM TICKET_MAS tm
        INNER JOIN TICKET_DET td
        ON tm.TICKET_MAS_ID = td.TICKET_MAS_ID
        WHERE td.SERVICE_ID = #{serviceNo}
        <if test="status != null">
            AND tm.STATUS <![CDATA[ <> ]]> #{status}
        </if>
        ORDER BY tm.TICKET_MAS_ID DESC
    </select>

    <update id="updateTicketCallInCount">
        update TICKET_MAS
        set    CALL_IN_COUNT = CALL_IN_COUNT + 1,
               MODIFYBY = #{userId},
               MODIFYDATE = sysdate
        where  TICKET_MAS_ID = #{ticketMasId}
    </update>

    <update id="updateTicketType">
        update ticket_mas
        set ticket_type = #{type} ,
            modifyby = #{userId},
            modifydate = sysdate
        where ticket_mas_id = #{ticketMasId}
    </update>
</mapper>
