<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdTicketMasMapper" >
    <resultMap id="TicketMasEntity" type="com.hkt.btu.sd.core.dao.entity.SdTicketMasEntity" >
        <result column="TICKET_MAS_ID" property="ticketMasId" />
        <result column="CUST_CODE" property="custCode" />
        <result column="TICKET_TYPE" property="ticketType" />
        <result column="STATUS" property="status" />
        <result column="APPOINTMENT_DATE" property="appointmentDate" />
        <result column="ASAP" property="asap" />
        <result column="CALL_IN_COUNT" property="callInCount"/>
        <result column="SEARCH_KEY" property="searchKey"/>
        <result column="SEARCH_VALUE" property="searchValue"/>
        <result column="ARRIVAL_DATE" property="arrivalDate"/>
        <result column="COMPLETE_DATE" property="completeDate"/>
        <result column="SERVICE_TYPE_NAME" property="serviceType"/>
        <result column="OWNING_ROLE" property="owningRole"/>
        <result column="SERVICE_ID" property="serviceNumber"/>
        <result column="CUST_NAME" property="custName"/>

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
    </resultMap>
    <resultMap id="teamSummaryEntity" type="com.hkt.btu.sd.core.dao.entity.StatusSummaryEntity">
        <result column="STATUS" property="status"/>
        <result column="QUERY_CNT" property="queryCnt"/>
        <result column="JOB_CNT" property="jobCnt"/>
    </resultMap>

    <insert id="insertQueryTicket" parameterType="com.hkt.btu.sd.core.dao.entity.SdTicketMasEntity">
        <selectKey keyProperty="ticketMasId" order="BEFORE" resultType="Integer">
            select SEQ_TICKET_MAS_ID.NEXTVAL from dual
        </selectKey>
        insert into TICKET_MAS (TICKET_MAS_ID,CUST_CODE,TICKET_TYPE,STATUS,CREATEBY,MODIFYBY,CALL_IN_COUNT,SEARCH_KEY,SEARCH_VALUE,OWNING_ROLE,CUST_NAME)
        values(#{ticketMasId},#{custCode},'QUERY','O',#{createby},#{createby},#{callInCount},#{searchKey},#{searchValue},#{owningRole},#{custName})
    </insert>

    <select id="findTicketById" resultMap="TicketMasEntity">
        select * from TICKET_MAS where TICKET_MAS_ID = #{ticketId}
    </select>

    <sql id="searchTicketSql">
        from TICKET_MAS tm
        INNER JOIN TICKET_DET td
        ON tm.TICKET_MAS_ID = td.TICKET_MAS_ID
        LEFT JOIN SERVICE_TYPE st
        ON td.SERVICE_TYPE_CODE = st.SERVICE_TYPE_CODE
        <where>
            <if test="createDateFrom != null">
                and trunc(tm.createdate) &gt;= trunc(#{createDateFrom})
            </if>
            <if test="createDateTo != null">
                and trunc(#{createDateTo}) &gt;= trunc(tm.createdate)
            </if>
            <if test="status != null">
                and tm.status = #{status}
            </if>
            <if test="completeDateFrom != null">
                and trunc(tm.complete_date) &gt;= trunc(#{completeDateFrom})
            </if>
            <if test="completeDateTo != null">
                and trunc(#{completeDateTo}) &gt;= trunc(tm.complete_date)
            </if>
            <if test="createBy != null">
                and tm.createby = #{createBy}
            </if>
            <if test="ticketMasId != null">
                and tm.ticket_mas_id = #{ticketMasId}
            </if>
            <if test="custCode != null">
                and lower(tm.cust_code) like '%' || lower(#{custCode}) || '%'
            </if>
            <if test="serviceNumber != null">
                and lower(td.service_id) like '%' || lower(#{serviceNumber}) || '%'
            </if>
            <if test="serviceNumberExact != null">
                and td.service_id = #{serviceNumberExact}
            </if>
            <if test="ticketType != null">
                and tm.ticket_type = #{ticketType}
            </if>
            <if test="serviceType != null">
                and td.service_type_code = #{serviceType}
            </if>
            <if test="owningRole != null">
                and tm.owning_role = #{owningRole}
            </if>
        </where>
    </sql>

    <select id="searchTicketList" resultMap="TicketMasEntity">
        select tm.*, td.SERVICE_ID, st.SERVICE_TYPE_NAME
        <include refid="searchTicketSql"/>
        order by tm.TICKET_MAS_ID desc
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="searchTicketCount" resultType="Integer">
        select count(1)
        <include refid="searchTicketSql"/>
    </select>

    <update id="updateAppointmentInMas">
        update TICKET_MAS
        set APPOINTMENT_DATE =#{appointmentDate},
        ASAP =#{asap},
        MODIFYBY= #{userId},
        MODIFYDATE=sysdate
        where TICKET_MAS_ID =#{ticketMasId}
    </update>

    <update id="updateTicketStatus">
        update TICKET_MAS
        <set >
            STATUS = #{status},
            MODIFYBY = #{userId},
            MODIFYDATE =sysdate,
            <if test="arrivalTime != null">
                ARRIVAL_DATE = #{arrivalTime},
            </if>
            <if test="completeTime != null">
                COMPLETE_DATE = #{completeTime}
            </if>
        </set>
        where TICKET_MAS_ID = #{ticketMasId}
    </update>

    <select id="getTicketByServiceNo" resultMap="TicketMasEntity">
        SELECT tm.TICKET_MAS_ID,tm.STATUS
        FROM TICKET_MAS tm
        INNER JOIN TICKET_DET td
            ON tm.TICKET_MAS_ID = td.TICKET_MAS_ID
        WHERE td.SERVICE_TYPE_CODE = #{serviceType}
        AND td.SERVICE_ID = #{serviceNo}
        <if test="ticketType != null">
            AND tm.TICKET_TYPE = #{ticketType}
        </if>
        <if test="excludeStatus != null">
            AND tm.STATUS != #{excludeStatus}
        </if>
        ORDER BY tm.TICKET_MAS_ID DESC
    </select>

    <update id="updateTicketCallInCount">
        update TICKET_MAS
        set    CALL_IN_COUNT = CALL_IN_COUNT + 1,
               MODIFYBY = #{userId},
               MODIFYDATE = sysdate
        where  TICKET_MAS_ID = #{ticketMasId}
    </update>

    <update id="updateTicketType">
        update ticket_mas
        set ticket_type = #{type} ,
            modifyby = #{userId},
            modifydate = sysdate
        where ticket_mas_id = #{ticketMasId}
    </update>

    <select id="getCountStatusByTicketType" resultMap="teamSummaryEntity">
        select status,nvl(job,0) job_cnt,nvl(query,0)query_cnt from (select count(1) status_cnt,ticket_type,status
        from ticket_mas where createdate BETWEEN trunc(sysdate, 'mm') and  last_day(sysdate) and owning_role = #{owningRole}
        group by ticket_type,status order by ticket_type)PIVOT(sum(status_cnt)for ticket_type in ('JOB' job,'QUERY' query))
    </select>
    
    <select id="getSumStatusByTicketType" resultMap="teamSummaryEntity">
        select sum(job) job_cnt,sum(query) query_cnt from (select count(1) status_cnt,ticket_type,status
        from ticket_mas where createdate BETWEEN trunc(sysdate, 'mm') and  last_day(sysdate) and owning_role = #{owningRole}
        group by ticket_type,status order by ticket_type)PIVOT(sum(status_cnt)for ticket_type in ('JOB' job,'QUERY' query))
    </select>

    <select id="getNewTicketId" resultType="string">
        select SEQ_TICKET_MAS_ID.NEXTVAL from dual
    </select>

    <insert id="createHktCloudTicket">
        insert into TICKET_MAS (TICKET_MAS_ID,TICKET_TYPE,STATUS,CREATEBY,MODIFYBY,SEARCH_KEY,SEARCH_VALUE,OWNING_ROLE)
        values(#{ticketId},'CLOUD_PORT','O',#{createBy},#{createBy},'tenantId',#{tenantId},'O_CLOUD_SH')
    </insert>

    <select id="getTicket4HktCloud" resultMap="TicketMasEntity">
        select ticket_mas_id,status,createby,createdate,complete_date
        from ticket_mas
        where search_key ='tenantId' and search_value=#{tenantId} and createby = #{username}
    </select>

    <select id="ticketTypeCountPerOwnerGroup"
            resultType="com.hkt.btu.sd.core.dao.entity.SdTicketStatisticEntity">
        select t.statisticDate as statisticDate,
        count(tm.TICKET_TYPE) as totalCount,
        concat(ur.ROLE_DESC,concat('(',concat(tm.TICKET_TYPE,')'))) as statistics
        from TICKET_MAS tm
        inner join USER_ROLE ur on tm.OWNING_ROLE = ur.ROLE_ID
        right join (select to_char(SYSDATE - LEVEL + 1, 'yyyy-mm-dd') statisticDate from dual connect by level &lt;= 90) t
        on to_char(tm.CREATEDATE, 'yyyy-mm-dd') = t.statisticDate
        group by t.statisticDate, concat(ur.ROLE_DESC,concat('(',concat(tm.TICKET_TYPE,')')))
        order by t.statisticDate
    </select>

    <select id="ticketStatusCountPerOwnerGroup"
            resultType="com.hkt.btu.sd.core.dao.entity.SdTicketStatisticEntity">
        select t.statisticDate as statisticDate,
               count(tm.STATUS) as totalCount,
               concat(ur.ROLE_DESC,concat('(',concat(tm.STATUS,')'))) as statistics
        from TICKET_MAS tm
        inner join USER_ROLE ur on tm.OWNING_ROLE = ur.ROLE_ID
        right join (select to_char(SYSDATE - LEVEL + 1, 'yyyy-mm-dd') statisticDate from dual connect by level &lt;= 90) t
        on to_char(tm.CREATEDATE, 'yyyy-mm-dd') = t.statisticDate
        group by t.statisticDate,concat(ur.ROLE_DESC,concat('(',concat(tm.STATUS,')')))
        order by t.statisticDate
    </select>
</mapper>
