<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdTicketServiceMapper">
    <resultMap id="TicketServiceEntity" type="com.hkt.btu.sd.core.dao.entity.SdTicketServiceEntity">
        <id column="TICKET_DET_ID" property="ticketDetId"/>
        <result column="TICKET_MAS_ID" property="ticketMasId"/>
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode"/>
        <result column="SERVICE_ID" property="serviceId"/>
        <result column="SUBS_ID" property="subsId"/>
        <result column="JOB_ID" property="jobId"/>

        <result column="CREATEDATE" property="createdate"/>
        <result column="CREATEBY" property="createby"/>
        <result column="MODIFYDATE" property="modifydate"/>
        <result column="MODIFYBY" property="modifyby"/>

        <collection property="symptomList" ofType="com.hkt.btu.sd.core.dao.entity.SdSymptomEntity">
            <id column="SYMPTOM_CODE" property="symptomCode"/>
            <result column="SYMPTOM_DESCRIPTION" property="symptomDescription"/>
        </collection>
    </resultMap>

    <select id="getTicketServiceInfoByTicketMasId" resultMap="TicketServiceEntity">
        select td.TICKET_MAS_ID,
               td.TICKET_DET_ID,
               td.SERVICE_ID,
               td.SYMPTOM_CODE,
               st.SERVICE_TYPE_NAME as SERVICE_TYPE_CODE
        from TICKET_DET td
                 inner join SERVICE_TYPE st on st.SERVICE_TYPE_CODE = td.SERVICE_TYPE_CODE
        where td.TICKET_MAS_ID = #{ticketMasId}
    </select>

    <select id="getTicketServiceByTicketMasId" resultType="com.hkt.btu.sd.core.dao.entity.SdTicketServiceEntity">
        select TICKET_DET_ID      as ticketDetId,
               TICKET_MAS_ID      as ticketMasId,
               SERVICE_ID         as serviceId,
               SERVICE_TYPE_CODE  as serviceTypeCode,
               JOB_ID  as jobId,
               SUBS_ID  as subsId
        from TICKET_DET
        where TICKET_MAS_ID = #{ticketMasId}
    </select>

    <insert id="insertServiceInfo" parameterType="com.hkt.btu.sd.core.dao.entity.SdTicketServiceEntity">
        <selectKey keyProperty="ticketDetId" resultType="int" order="BEFORE">
            SELECT SEQ_TICKET_DET_ID.nextval FROM DUAL
        </selectKey>
        insert into TICKET_DET(TICKET_DET_ID, TICKET_MAS_ID, SERVICE_TYPE_CODE, SERVICE_ID, CREATEBY, MODIFYBY,SUBS_ID)
        values (#{ticketDetId}, #{ticketMasId}, #{serviceTypeCode}, #{serviceId}, #{createby}, #{modifyby},#{subsId})
    </insert>

    <insert id="insertFaults">
        insert into TICKET_FAULTS(TICKET_DET_ID, FAULTS, CREATEBY, MODIFYBY)
        values (#{ticketDetId}, #{faults}, #{createby}, #{modifyby})
    </insert>

    <delete id="removeServiceInfoByTicketMasId">
        delete
        from TICKET_DET
        where TICKET_MAS_ID = #{ticketMasId}
    </delete>

    <delete id="removeFaultsByTicketDetId">
        delete
        from TICKET_FAULTS
        where TICKET_DET_ID = #{ticketDetId}
    </delete>

    <update id="updateTicketServiceByJobId">
        update TICKET_DET
        set JOB_ID =#{jobId},
            MODIFYBY= #{userId},
            MODIFYDATE=sysdate
        where TICKET_MAS_ID =#{ticketMasId}
    </update>

    <update id="updateTicketServiceSymptomByTicketMasId">
        update TICKET_DET
        set SYMPTOM_CODE = #{symptomCode},
            MODIFYBY = #{modifyby},
            MODIFYDATE = sysdate
        where TICKET_MAS_ID = #{ticketMasId}
    </update>

    <select id="getSymptomListByTicketMasId" resultType="com.hkt.btu.sd.core.dao.entity.SdSymptomEntity">
        select s.SYMPTOM_DESCRIPTION as symptomDescription,
               s.SYMPTOM_CODE as symptomCode
        from TICKET_DET td
                 inner join SERVICE_TYPE st on st.SERVICE_TYPE_CODE = td.SERVICE_TYPE_CODE
                 inner join SYMPTOM_MAPPING sm on sm.SERVICE_TYPE_CODE = st.SERVICE_TYPE_CODE
                 inner join SYMPTOM s on s.SYMPTOM_CODE = sm.SYMPTOM_CODE
        where td.TICKET_MAS_ID = #{ticketMasId}
    </select>
</mapper>