<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdTicketFileUploadMapper">

    <insert id="insertUploadFile">
        insert into TICKET_FILE_UPLOAD (TICKET_MAS_ID,FILE_NAME,FILE_UPLOAD)
        values (#{ticketId},#{fileName},#{file})
    </insert>
</mapper>
