<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdTicketMasMapper" >
    <resultMap id="TicketMasEntity" type="com.hkt.btu.sd.core.dao.entity.SdTicketMasEntity" >
        <result column="TICKET_MAS_ID" property="ticketMasId" />
        <result column="CUST_CODE" property="custCode" />

        <result column="APPOINTMENT_DATE" property="appointmentDate" />
        <result column="ASAP" property="asap" />
        <result column="CALL_IN_COUNT" property="callInCount"/>
        <result column="SEARCH_KEY" property="searchKey"/>
        <result column="SEARCH_VALUE" property="searchValue"/>
        <result column="ARRIVAL_DATE" property="arrivalDate"/>
        <result column="COMPLETE_DATE" property="completeDate"/>
        <result column="SERVICE_TYPE_NAME" property="serviceType"/>
        <result column="OWNING_ROLE" property="owningRole"/>
        <result column="SERVICE_ID" property="serviceNumber"/>
        <result column="CUST_NAME" property="custName"/>

        <result column="SERVICE_NUMBER" property="serviceNumber"/>
        <result column="TICKET_TYPE" property="ticketType" />
        <result column="STATUS" property="status" />
        <result column="PRIORITY" property="priority"/>

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
    </resultMap>

    <resultMap id="teamSummaryEntity" type="com.hkt.btu.sd.core.dao.entity.StatusSummaryEntity">
        <result column="STATUS" property="status"/>
        <result column="QUERY_CNT" property="queryCnt"/>
        <result column="JOB_CNT" property="jobCnt"/>
    </resultMap>

    <resultMap id="TicketExportEntity" type="com.hkt.btu.sd.core.dao.entity.SdTicketExportEntity" >
        <result column="TICKET_MAS_ID" property="ticketMasId" />
        <result column="TICKET_TYPE" property="ticketType" />
        <result column="STATUS" property="status" />
        <result column="COMPLETE_DATE" property="completeDate"/>
        <result column="SERVICE_NUMBER" property="serviceNumber"/>
        <result column="PRIORITY" property="priority"/>

        <result column="CREATEDATE" property="createDate" />
        <result column="CREATEBY" property="createBy" />
        <result column="MODIFYDATE" property="modifyDate" />
        <result column="MODIFYBY" property="modifyBy" />
    </resultMap>

    <resultMap id="outstandingFault" type="com.hkt.btu.sd.core.dao.entity.SdOutstandingFaultEntity">
        <result column="COUNT" property="count"/>
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode"/>
    </resultMap>
    <resultMap id="ticketTimePeriodSummary" type="com.hkt.btu.sd.core.dao.entity.SdTicketTimePeriodSummaryEntity">
        <result column="TIME_PERIOD" property="timePeriod" />
        <result column="COUNT" property="count" />
    </resultMap>

    <insert id="insertQueryTicket" parameterType="com.hkt.btu.sd.core.dao.entity.SdTicketMasEntity">
        <selectKey keyProperty="ticketMasId" order="BEFORE" resultType="Integer">
            select SEQ_TICKET_MAS_ID.NEXTVAL from dual
        </selectKey>
        insert into TICKET_MAS (TICKET_MAS_ID,CUST_CODE,TICKET_TYPE,STATUS,CREATEBY,MODIFYBY,CALL_IN_COUNT,SEARCH_KEY,SEARCH_VALUE,OWNING_ROLE,CUST_NAME)
        values(#{ticketMasId},#{custCode},'QUERY','O',#{createby},#{createby},#{callInCount},#{searchKey},#{searchValue},#{owningRole},#{custName})
    </insert>

    <select id="findTicketById" resultMap="TicketMasEntity">
        select * from TICKET_MAS where TICKET_MAS_ID = #{ticketId}
    </select>

    <sql id="searchTicketSql">
        from TICKET_MAS tm
        <where>
            <if test="createDateFrom != null">
                and trunc(tm.createdate) &gt;= trunc(#{createDateFrom})
            </if>
            <if test="createDateTo != null">
                and trunc(#{createDateTo}) &gt;= trunc(tm.createdate)
            </if>
            <if test="status != null">
                and tm.status = #{status}
            </if>
            <if test="completeDateFrom != null">
                and trunc(tm.complete_date) &gt;= trunc(#{completeDateFrom})
            </if>
            <if test="completeDateTo != null">
                and trunc(#{completeDateTo}) &gt;= trunc(tm.complete_date)
            </if>
            <if test="createBy != null">
                and tm.createby = #{createBy}
            </if>
            <if test="ticketMasId != null">
                and tm.ticket_mas_id = #{ticketMasId}
            </if>
            <if test="serviceNumber != null">
                and td.service_id = #{serviceNumberExact}
            </if>
            <if test="ticketType != null">
                and tm.ticket_type = #{ticketType}
            </if>
            <if test="priority != null">
                and tm.priority = #{priority}
            </if>
        </where>
    </sql>

    <select id="searchTicketList" resultMap="TicketMasEntity">
        select tm.*
        <include refid="searchTicketSql"/>
        order by tm.TICKET_MAS_ID desc
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="searchTicketCount" resultType="Integer">
        select count(1)
        <include refid="searchTicketSql"/>
    </select>

    <update id="updateAppointmentInMas">
        update TICKET_MAS
        set APPOINTMENT_DATE =#{appointmentDate},
        ASAP =#{asap},
        MODIFYBY= #{userId},
        MODIFYDATE=sysdate
        where TICKET_MAS_ID =#{ticketMasId}
    </update>

    <!--<update id="updateTicketStatus">
        update TICKET_MAS
        <set >
            STATUS = #{status},
            MODIFYBY = #{userId},
            MODIFYDATE =sysdate,
            <if test="arrivalTime != null">
                ARRIVAL_DATE = #{arrivalTime},
            </if>
            <if test="completeTime != null">
                COMPLETE_DATE = #{completeTime}
            </if>
        </set>
        where TICKET_MAS_ID = #{ticketMasId}
    </update>-->

    <select id="getTicketByServiceNo" resultMap="TicketMasEntity">
        SELECT tm.TICKET_MAS_ID,tm.STATUS
        FROM TICKET_MAS tm
        INNER JOIN TICKET_DET td
            ON tm.TICKET_MAS_ID = td.TICKET_MAS_ID
        WHERE td.SERVICE_TYPE_CODE = #{serviceType}
        AND td.SERVICE_ID = #{serviceNo}
        <if test="ticketType != null">
            AND tm.TICKET_TYPE = #{ticketType}
        </if>
        <if test="excludeStatus != null">
            AND tm.STATUS != #{excludeStatus}
        </if>
        ORDER BY tm.TICKET_MAS_ID DESC
    </select>

    <update id="updateTicketCallInCount">
        update TICKET_MAS
        set    CALL_IN_COUNT = CALL_IN_COUNT + 1,
               MODIFYBY = #{userId},
               MODIFYDATE = sysdate
        where  TICKET_MAS_ID = #{ticketMasId}
    </update>

    <update id="updateTicketType">
        update ticket_mas
        set ticket_type = #{type} ,
            modifyby = #{userId},
            modifydate = sysdate
        where ticket_mas_id = #{ticketMasId}
    </update>

    <select id="getCountStatusByTicketType" resultMap="teamSummaryEntity">
        select status,nvl(job,0) job_cnt,nvl(query,0)query_cnt from (select count(1) status_cnt,ticket_type,status
        from ticket_mas where createdate BETWEEN trunc(sysdate, 'mm') and  last_day(sysdate) and owning_role = #{owningRole}
        group by ticket_type,status order by ticket_type)PIVOT(sum(status_cnt)for ticket_type in ('JOB' job,'QUERY' query))
    </select>
    
    <select id="getSumStatusByTicketType" resultMap="teamSummaryEntity">
        select sum(job) job_cnt,sum(query) query_cnt from (select count(1) status_cnt,ticket_type,status
        from ticket_mas where createdate BETWEEN trunc(sysdate, 'mm') and  last_day(sysdate) and owning_role = #{owningRole}
        group by ticket_type,status order by ticket_type)PIVOT(sum(status_cnt)for ticket_type in ('JOB' job,'QUERY' query))
    </select>

    <select id="getNewTicketId" resultType="string">
        select SEQ_TICKET_MAS_ID.NEXTVAL from dual
    </select>

    <insert id="createHktCloudTicket">
        insert into TICKET_MAS (TICKET_MAS_ID,TICKET_TYPE,STATUS,CREATEBY,MODIFYBY,SEARCH_KEY,SEARCH_VALUE,OWNING_ROLE)
        values(#{ticketId},'CLOUD_PORT','O',#{createBy},#{createBy},'tenantId',#{tenantId},'O_CLOUD_SH')
    </insert>

    <select id="getTicket4HktCloud" resultMap="TicketMasEntity">
        select ticket_mas_id,status,createby,createdate,complete_date
        from ticket_mas
        where search_key ='tenantId' and search_value=#{tenantId} and createby = #{username}
    </select>

    <select id="ticketTypeCountPerOwnerGroup"
            resultType="com.hkt.btu.sd.core.dao.entity.SdTicketStatisticEntity">
        select t.statisticDate as statisticDate,
        count(tm.TICKET_TYPE) as totalCount,
        concat(ur.ROLE_DESC,concat('(',concat(tm.TICKET_TYPE,')'))) as statistics
        from TICKET_MAS tm
        inner join USER_ROLE ur on tm.OWNING_ROLE = ur.ROLE_ID
        right join (select to_char(SYSDATE - LEVEL + 1, 'yyyy-mm-dd') statisticDate from dual connect by level &lt;= 90) t
        on to_char(tm.CREATEDATE, 'yyyy-mm-dd') = t.statisticDate
        group by t.statisticDate, concat(ur.ROLE_DESC,concat('(',concat(tm.TICKET_TYPE,')')))
        order by t.statisticDate
    </select>

    <select id="ticketStatusCountPerOwnerGroup"
            resultType="com.hkt.btu.sd.core.dao.entity.SdTicketStatisticEntity">
        select t.statisticDate as statisticDate,
               count(tm.STATUS) as totalCount,
               concat(ur.ROLE_DESC,concat('(',concat(tm.STATUS,')'))) as statistics
        from TICKET_MAS tm
        inner join USER_ROLE ur on tm.OWNING_ROLE = ur.ROLE_ID
        right join (select to_char(SYSDATE - LEVEL + 1, 'yyyy-mm-dd') statisticDate from dual connect by level &lt;= 90) t
        on to_char(tm.CREATEDATE, 'yyyy-mm-dd') = t.statisticDate
        group by t.statisticDate,concat(ur.ROLE_DESC,concat('(',concat(tm.STATUS,')')))
        order by t.statisticDate
    </select>

    <select id="searchBchspList" resultMap="TicketMasEntity">
        SELECT tm.*, td.SERVICE_ID, st.SERVICE_TYPE_NAME
        <include refid="searchBchspSql"/>
        ORDER BY tm.TICKET_MAS_ID DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="searchBchspCount" resultType="Integer">
        SELECT count(1)
        <include refid="searchBchspSql"/>
    </select>

    <sql id="searchBchspSql">
        FROM (SELECT b.ORDER_ID AS ticket_id, a.WORKGROUP FROM job a, ORDER_BES_FULFILLMENT b WHERE a.ORDER_NUM = b.ORDER_NUM AND a.WORKGROUP = 'BCHSP') a
        INNER JOIN TICKET_MAS tm on tm.TICKET_MAS_ID = a.TICKET_ID
        INNER JOIN USER_ROLE_WORKGROUP urw on urw.ROLE_ID = tm.OWNING_ROLE
        INNER JOIN TICKET_DET td ON tm.TICKET_MAS_ID = td.TICKET_MAS_ID
        INNER JOIN SERVICE_TYPE st ON td.SERVICE_TYPE_CODE = st.SERVICE_TYPE_CODE
        <where>
            <if test="workGroup != null">
                and urw.WORKGROUP =#{workGroup}
            </if>
            <if test="createDateFrom != null">
                and trunc(tm.createdate) &gt;= trunc(#{createDateFrom})
            </if>
            <if test="createDateTo != null">
                and trunc(#{createDateTo}) &gt;= trunc(tm.createdate)
            </if>
            <if test="status != null">
                and tm.status = #{status}
            </if>
            <if test="completeDateFrom != null">
                and trunc(tm.complete_date) &gt;= trunc(#{completeDateFrom})
            </if>
            <if test="completeDateTo != null">
                and trunc(#{completeDateTo}) &gt;= trunc(tm.complete_date)
            </if>
            <if test="createBy != null">
                and tm.createby = #{createBy}
            </if>
            <if test="ticketMasId != null">
                and tm.ticket_mas_id = #{ticketMasId}
            </if>
            <if test="custCode != null">
                and lower(tm.cust_code) like '%' || lower(#{custCode}) || '%'
            </if>
            <if test="serviceNumber != null">
                and lower(td.service_id) like '%' || lower(#{serviceNumber}) || '%'
            </if>
            <if test="ticketType != null">
                and tm.ticket_type = #{ticketType}
            </if>
            <if test="serviceType != null">
                and td.service_type_code = #{serviceType}
            </if>
            <if test="owningRole != null">
                and urw.role_id = #{owningRole}
            </if>
        </where>
    </sql>

    <select id="getJobId" resultType="String">
        select j.job_id from job j
        inner join job_sd_fault s on j.job_id=s.job_id
        where s.request_id= #{ticketMasId}
        and j.dept_id='BCHSP'
        and ( j.status &lt;&gt; 'COMPLETE' and j.status &lt;&gt; 'CANCEL' )
        and field_ind = 'N'
        and resolver = 'Y'
    </select>

    <select id="getWorkGroupList" resultType="String">
        SELECT WORKGROUP FROM USER_DEPT_TEAM_WORKGROUP WHERE SERVICE_DESK_ENABLED = 'Y'
    </select>

    <select id="searchTicketListForExport" resultMap="TicketExportEntity">
        select
        a.TICKET_MAS_ID,
        decode(a.TICKET_TYPE, 'I', 'INSTALL', 'M', 'MAINTAIN') AS TICKET_TYPE,
        decode(a.STATUS, 'CP', 'COMPLETE', 'W', 'WORKING' ,'O', 'OPEN') AS STATUS,
        a.COMPLETE_DATE,
        a.SERVICE_NUMBER,
        decode(a.PRIORITY, 1, 'General', 2, 'Minor', 3, 'Major', 4, 'Urgent') AS PRIORITY,
        a.CREATEDATE,
        a.CREATEBY,
        a.MODIFYDATE,
        a.MODIFYBY
        from ticket_mas a
        <where>
            <if test="createDateFrom != null">
                and trunc(a.createdate) &gt;= trunc(#{createDateFrom})
            </if>
            <if test="createDateTo != null">
                and trunc(#{createDateTo}) &gt;= trunc(a.createdate)
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="completeDateFrom != null">
                and trunc(a.complete_date) &gt;= trunc(#{completeDateFrom})
            </if>
            <if test="completeDateTo != null">
                and trunc(#{completeDateTo}) &gt;= trunc(a.complete_date)
            </if>
            <if test="createBy != null">
                and a.createby = #{createBy}
            </if>
            <if test="ticketMasId != null">
                and a.ticket_mas_id = #{ticketMasId}
            </if>
            <if test="serviceNumber != null">
                and a.serviceNumber = #{serviceNumber}
            </if>
            <if test="ticketType != null">
                and a.ticket_type = #{ticketType}
            </if>
            <if test="priority != null">
                and a.priority = #{priority}
            </if>
        </where>
        order by a.ticket_mas_id
    </select>

    <select id="getOutstandingFault" resultMap="outstandingFault">
        select ot.COUNT, st.service_type_code from service_type st left join
        (select count(1) COUNT, service_type_code from ticket_det d, ticket_mas t where d.ticket_mas_id=t.ticket_mas_id and t.status &lt;&gt; 'CP'
        group by service_type_code order by service_type_code) ot on st.service_type_code = ot.service_type_code
    </select>
    
    <select id="getTicketTimePeriodSummary" resultMap="ticketTimePeriodSummary">
        select * from (
            select SUM(case when wait_time&lt;15 then 1 else 0 end) as within_15,
                   SUM(case when wait_time>=15 and wait_time&lt;30 then 1 else 0 end) between_15_30,
                   SUM(case when wait_time>=30 and wait_time&lt;60 then 1 else 0 end) between_30_60,
                   SUM(case when wait_time>=60 and wait_time&lt;120 then 1 else 0 end) between_1_2,
                   SUM(case when wait_time>=120 and wait_time&lt;240 then 1 else 0 end) between_2_4,
                   SUM(case when wait_time>=240  and wait_time&lt;480 then 1 else 0 end) between_4_8,
                   SUM(case when wait_time>480 then 1 else 0 end) over_8
            from (select service_type_code, ceil((sysdate-d.createdate)*24*60) as wait_time from ticket_det d, ticket_mas t where d.ticket_mas_id=t.ticket_mas_id and t.status&lt;&gt;'CP')
        ) unpivot (count for time_period in(within_15, between_15_30, between_30_60, between_1_2, between_2_4, between_4_8, over_8))
    </select>

    <select id="getAvgFaultCleaningTime" resultType="Double">
        select avg(complete_time)
        from (select ceil((t.modifydate-d.createdate)*24*60) as complete_time from ticket_det d, ticket_mas t where d.ticket_mas_id=t.ticket_mas_id and t.status='CP')
    </select>

    <insert id="insertTicket" parameterType="com.hkt.btu.sd.core.dao.entity.SdTicketMasEntity">
        <selectKey keyProperty="ticketMasId" order="BEFORE" resultType="Integer">
            select SEQ_TICKET_MAS_ID.NEXTVAL from dual
        </selectKey>
        insert into TICKET_MAS (TICKET_MAS_ID,SERVICE_NUMBER,TICKET_TYPE,STATUS,PRIORITY,CREATEBY,MODIFYBY)
        values(#{ticketMasId},#{serviceNumber},#{ticketType},'O',#{priority},#{createby},#{createby})
    </insert>

    <update id="updateTicketStatus">
        update TICKET_MAS set STATUS = #{status}, MODIFYBY = #{userId}, MODIFYDATE = sysdate
        where TICKET_MAS_ID = #{ticketMasId}
    </update>

    <update id="updateTicketAssign">
        update TICKET_MAS
        set STATUS = #{status},
        MODIFYBY = #{userId},
        MODIFYDATE = sysdate,
        MAINTAIN_USER_ID = #{engineer},
        ASSIGN_TIME = sysdate
        where TICKET_MAS_ID = #{ticketMasId}
    </update>

    <update id="updateTicketComplete">
        update TICKET_MAS
        set STATUS = #{status},
        MODIFYBY = #{userId},
        MODIFYDATE = sysdate,
        COMPLETE_DATE = sysdate
        where TICKET_MAS_ID = #{ticketMasId}
    </update>
</mapper>
