<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdUserOwnerAuthRoleMapper">
    <resultMap id="userOwnerAuthRole" type="com.hkt.btu.sd.core.dao.entity.SdUserOwnerAuthRoleEntity">
        <result column="OWNER_ID"  property="ownerId"/>
        <result column="AUTH_ROLE_ID" property="authRoleId" />
        <result column="CREATEDATE" property="createDate"/>
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode"/>
    </resultMap>
    
    <select id="getUserOwnerAuthRole" resultMap="userOwnerAuthRole">
        select * from user_owner_auth_role_mapping where owner_id = #{ownerId}
    </select>

    <select id="getUserOwnerAuthRoleList" resultMap="userOwnerAuthRole">
        select * from USER_OWNER_AUTH_ROLE_MAPPING
    </select>
    
    <select id="getUserOwnerAuthRoleBykey" resultMap="userOwnerAuthRole">
        select * from USER_OWNER_AUTH_ROLE_MAPPING
        where OWNER_ID = #{ownerId} and AUTH_ROLE_ID = #{authRoleId} and SERVICE_TYPE_CODE = #{serviceTypeCode}
    </select>

    <insert id="createUserOwnerAuthRole">
        insert into USER_OWNER_AUTH_ROLE_MAPPING(OWNER_ID, AUTH_ROLE_ID, SERVICE_TYPE_CODE)
        values (#{ownerId}, #{authRoleId}, #{serviceTypeCode})
    </insert>

    <delete id="delUserOwnerAuthRole">
        delete from USER_OWNER_AUTH_ROLE_MAPPING
        where OWNER_ID = #{ownerId} and AUTH_ROLE_ID = #{authRoleId} and SERVICE_TYPE_CODE = #{serviceTypeCode}
    </delete>

</mapper>