<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdUserRoleServiceTypeMapper" >
    <resultMap id="SdUserRoleServiceTypeEntity" type="com.hkt.btu.sd.core.dao.entity.SdUserRoleServiceTypeEntity" >
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode" />
        <result column="ROLE_ID" property="roleId" />

        <result column="CREATEDATE" property="createdate" />
        <result column="CREATEBY" property="createby" />
        <result column="MODIFYDATE" property="modifydate" />
        <result column="MODIFYBY" property="modifyby" />
    </resultMap>

    <insert id="createUserRoleServiceType">
        INSERT ALL
        <foreach item="serviceType" index="index" collection="serviceTypeList">
            INTO USER_ROLE_SERVICE_TYPE (SERVICE_TYPE_CODE, ROLE_ID, CREATEBY, MODIFYBY)
            VALUES (#{serviceType}, #{roleId}, #{createby}, #{createby})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <delete id="deleteUserRoleServiceType">
        DELETE FROM USER_ROLE_SERVICE_TYPE WHERE ROLE_ID = #{roleId}
        AND SERVICE_TYPE_CODE IN
        <foreach item="serviceType" index="index" collection="serviceTypeList" open="(" separator="," close=")">
            #{serviceType}
        </foreach>
    </delete>

    <select id="getUserRoleServiceType" resultMap="SdUserRoleServiceTypeEntity">
        SELECT * FROM USER_ROLE_SERVICE_TYPE where ROLE_ID = #{roleId}
    </select>
</mapper>