<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdUserRoleMapper">
    <resultMap id="SdUserRoleEntity" type="com.hkt.btu.sd.core.dao.entity.SdUserRoleEntity">
        <result column="ROLE_ID" property="roleId"/>
        <result column="ROLE_DESC" property="roleDesc"/>
        <result column="PARENT_ROLE_ID" property="parentRoleId"/>
        <result column="STATUS" property="status"/>
        <result column="CREATEDATE" property="modifydate"/>
        <result column="CREATEBY" property="modifyby"/>
        <result column="REMARKS" property="remarks"/>
    </resultMap>

    <select id="getTeamHeadList" resultMap="SdUserRoleEntity">
        select *
        from USER_ROLE
        WHERE
              INSTR(ROLE_ID, #{indicator}) &gt; 0
    </select>

    <select id="getUserRoleByUserId" resultMap="SdUserRoleEntity">
        SELECT ur.*
        FROM USER_PROFILE up
        INNER JOIN USER_USER_ROLE uur
            ON up.USER_ID = uur.USER_ID
        INNER JOIN USER_ROLE ur
            ON ur.ROLE_ID = uur.ROLE_ID
        WHERE up.USER_ID = #{userId}
    </select>

    <select id="getParentRoleByRoleId" resultMap="SdUserRoleEntity">
        SELECT ur.*
        FROM USER_ROLE ur
        start with ur.ROLE_ID = #{roleId}
        connect by ur.ROLE_ID = PRIOR ur.PARENT_ROLE_ID
    </select>

    <select id="getAllUserRole" resultMap="SdUserRoleEntity">
        SELECT *
        FROM USER_ROLE
        WHERE STATUS = #{status}
        ORDER BY ROLE_ID
    </select>

    <select id="getEligibleRolesByCurrentUserRole" resultMap="SdUserRoleEntity">
        SELECT *
        FROM USER_ROLE
        WHERE ROLE_ID =
              (SELECT SUBSTR(#{roleId}, (SELECT INSTR(#{roleId}, '__') + 2 FROM DUAL)) FROM DUAL)
          AND STATUS = #{status}
        ORDER BY ROLE_ID
    </select>

    <insert id="insertUserUserRole">
        INSERT INTO USER_USER_ROLE (USER_ID, ROLE_ID)
        VALUES (#{userId}, #{roleId})
    </insert>

    <delete id="deleteUserRoleByUserId">
        DELETE
        FROM USER_USER_ROLE
        WHERE USER_ID = #{userId}
    </delete>
</mapper>