<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdUserRoleWorkgroupMapper">
    <resultMap id="userRoleWorkgroup" type="com.hkt.btu.sd.core.dao.entity.SdUserRoleWorkgroupEntity">
        <result column="ROLE_ID" property="roleId" />
        <result column="WORKGROUP" property="workgroup" />
    </resultMap>

    <select id="getUserRoleWorkgroupList" resultMap="userRoleWorkgroup">
        select * from USER_ROLE_WORKGROUP
    </select>

    <select id="getUserRoleWorkgroupBykey" resultMap="userRoleWorkgroup">
        select * from USER_ROLE_WORKGROUP where ROLE_ID = #{roleId} and WORKGROUP = #{workgroup}
    </select>

    <delete id="delUserRoleWorkgroup">
        delete from USER_ROLE_WORKGROUP where ROLE_ID = #{roleId} and WORKGROUP = #{workgroup}
    </delete>
    
    <insert id="createUserRoleWorkgroup">
        insert into USER_ROLE_WORKGROUP (ROLE_ID, WORKGROUP, CREATEDATE, CREATEBY, MODIFYDATE, MODIFYBY)
        values (#{roleId}, #{workgroup}, sysdate, #{userId}, sysdate, #{userId})
    </insert>

    <select id="getWorkgroupList" resultType="String">
        select distinct workgroup from USER_DEPT_TEAM_WORKGROUP where SERVICE_DESK_ENABLED='Y'
    </select>

</mapper>