<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkt.btu.sd.core.dao.mapper.SdUserRoleWorkgroupMappingMapper">
    <resultMap id="userRoleWorkgroupMapping" type="com.hkt.btu.sd.core.dao.entity.SdUserRoleWorkgroupMappingEntity">
        <result column="OWNER_ID" property="ownerId" />
        <result column="AUTH_ROLE_ID" property="authRoleId" />
        <result column="SERVICE_TYPE_CODE" property="serviceTypeCode" />
    </resultMap>

    <select id="getUserRoleWorkgroupMappingList" resultMap="userRoleWorkgroupMapping">
        select * from USER_OWNER_AUTH_ROLE_MAPPING
    </select>

    <select id="getUserRoleWorkgroupMappingBykey" resultMap="userRoleWorkgroupMapping">
        select * from USER_OWNER_AUTH_ROLE_MAPPING where OWNER_ID = #{ownerId} and AUTH_ROLE_ID = #{authRoleId} and SERVICE_TYPE_CODE = #{serviceTypeCode}
    </select>

    <delete id="delUserRoleWorkgroupMapping">
        delete from USER_OWNER_AUTH_ROLE_MAPPING where OWNER_ID = #{ownerId} and AUTH_ROLE_ID = #{authRoleId} and SERVICE_TYPE_CODE = #{serviceTypeCode}
    </delete>

</mapper>