<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cached Object info</title>
    <script type="text/javascript" th:src="@{/lib/JsonDiff/jdd.min.js(v=${projectBuildtime})}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag" th:object="${cacheProfile}">
    <h1>Cached Object Detail</h1>
    <div class="form-row mt-3">
        <div class="col-md-4">
            <label>Cache Name:</label>
            <input class="form-control" readonly th:value="*{cacheName}" id="cacheName">
        </div>
        <div class="col-md-4">
            <label>Origin Service Bean Name:</label>
            <input class="form-control" readonly th:value="*{originServiceBeanName}">
        </div>
        <div class="col-md-4">
            <label>Origin Service Method Name:</label>
            <input class="form-control" readonly th:value="*{originServiceMethodName}">
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-md-4">
            <label>Loading Priority:</label>
            <input class="form-control" readonly th:value="*{loadingPriority}">
        </div>
        <div class="col-md-4">
            <label>Lazy Init:</label>
            <input class="form-control" readonly th:value="*{lazyInit}">
        </div>
        <div class="col-md-4">
            <label>Sensitive:</label>
            <input class="form-control" readonly th:value="*{sensitive}">
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-md-4">
            <label>Create By:</label>
            <input class="form-control" readonly th:value="*{createby}">
        </div>
        <div class="col-md-6">
            <label>Create Date:</label>
            <input class="form-control" readonly th:value="*{createdate}">
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-md-4">
            <label>Modify By:</label>
            <input class="form-control" readonly th:value="*{modifyby}">
        </div>
        <div class="col-md-6">
            <label>Modify Date:</label>
            <input class="form-control" readonly th:value="*{modifydate}">
        </div>
    </div>
    <style type="text/css">
        .textarea1 {
            height: 350px;
            border: 1px solid #a9a9a9;
            overflow: auto;
            outline: none;
        }
    </style>
    <div class="form-row mt-3">
        <div class="col-md-6">
            <label>Current Cache</label>
            <pre rows="10" class="form-control textarea1" readonly id="current_object"></pre>
        </div>
        <div class="col-md-6">
            <label>New Cache after Reload</label>
            <pre rows="10" class="form-control textarea1" readonly id="new_object"></pre>
            <button class="btn btn-info float-right mt-3" onclick="refresh()">Refresh</button>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/cachedObjectInfo.js(v=${projectBuildtime})}"></script>
    <script type="text/javascript" th:src="@{/lib/highlightTextarea/jquery.highlighttextarea.js(v=${projectBuildtime})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/highlightTextarea/jquery.highlighttextarea.css(v=${projectBuildtime})}">
</div>
</body>
</html>