<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Request Summary</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <form>
        <label>
            <select th:id="access-summary-target-loc" class="form-control mb-2 mr-sm-2">
                <option value=" " selected>--Any Location--</option>
                <option th:each="loc : ${requestLocMap}" th:value="${loc.key}" th:text="${loc.value.name}"></option>
            </select>
        </label>
        <button th:id="btn-save-target-loc" type="button" class="btn btn-primary mb-2"><i class="far fa-check-square"></i> Apply</button>
    </form>

    <h1>Pending Access Request</h1>
    <table th:id="pendingAccessRequestTable" class="display">
        <thead>
        <tr>
            <th>Ticket Num</th>
            <th>Status</th>
            <th>Visit Date</th>
            <th>From</th>
            <th>To</th>
            <th>Location</th>
            <th>Create Date</th>
            <th>Visitor Count</th>
            <th>Company</th>
            <th><!--visit link--></th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <th>Ticket Num</th>
            <th>Status</th>
            <th>Visit Date</th>
            <th>From</th>
            <th>To</th>
            <th>Location</th>
            <th>Create Date</th>
            <th>Visitor Count</th>
            <th>Company</th>
            <th><!--visit link--></th>
        </tr>
        </tfoot>
    </table>

    <br/>
    <span class="row float-right"><small><i>Latest 500 records</i></small></span>
    <hr class="style1">
    <br/>


    <h1>Completed Access Request</h1>
    <table th:id="completedAccessRequestTable" class="display">
        <thead>
        <tr>
            <th>Ticket Num</th>
            <th>Status</th>
            <th>Visit Date</th>
            <th>From</th>
            <th>To</th>
            <th>Location</th>
            <th>Create Date</th>
            <th>Visitor Count</th>
            <th>Company</th>
            <th><!--view link--></th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <th>Ticket Num</th>
            <th>Status</th>
            <th>Visit Date</th>
            <th>From</th>
            <th>To</th>
            <th>Location</th>
            <th>Create Date</th>
            <th>Visitor Count</th>
            <th>Company</th>
            <th><!--view link--></th>
        </tr>
        </tfoot>
    </table>

    <br/>
    <span class="row float-right"><small><i>Last 30 days (most recent 500 records)</i></small></span>
    <hr class="style1">
    <br/>


    <script type="text/javascript" th:src="@{/js/pendingAccessRequestInternal.js}"></script>
</div>
</body>
</html>