<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Visitor</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <form class="form-inline">
        <label>
            <input th:id="search-access-visitor-name" type="text" class="form-control mb-2 mr-sm-2" placeholder="Visitor Name">
        </label>
        <label>
            <input th:id="search-access-visitor-company" type="text" class="form-control mb-2 mr-sm-2" placeholder="Company/Section">
        </label>
        <label>
            <input th:id="search-access-visit-from" type="date" class="form-control mb-2 mr-sm-2">
        </label>
        <label>
            <input th:id="search-access-visit-to" type="date" class="form-control mb-2 mr-sm-2">
        </label>
        <label>
            <select th:id="search-access-visit-loc" class="form-control mb-2 mr-sm-2">
                <option value="" selected>--Location--</option>
                <option th:each="loc : ${requestLocMap}" th:value="${loc.key}" th:text="${loc.value.name}"></option>
            </select>
        </label>
        <button th:id="btn-search-visitor" type="button" class="btn btn-lg btn-primary mb-2"><i class="fas fa-search"></i> Search</button>
    </form>

    <h1>Visitor Search</h1>
    <table th:id="search-visitor-table" class="display">
        <thead>
        <tr>
            <th>Visit Date</th>
            <th>Location</th>
            <th>Name</th>
            <th>Company</th>
            <th><!--view link--></th>
        </tr>
        </thead>

        <tbody></tbody>

        <tfoot>
        <tr>
            <th>Visit Date</th>
            <th>Location</th>
            <th>Name</th>
            <th>Company/Section</th>
            <th><!--view link--></th>
        </tr>
        </tfoot>
    </table>


    <script type="text/javascript" th:src="@{/js/searchAccessRequestVisitorInternal.js}"></script>
</div>
</body>
</html>